@font-face {
  font-display: swap;
  text-rendering: optimizeLegibility;
  font-family: "Roboto Regular";
  src: url(/webfonts/RobotoRegular.woff) format("woff");
}
// Global selectors styles
html {scroll-behavior: smooth;}
h1, h2, h3, p, a, ul, li, span, button, blockquote, input, textarea {
  font-family: "Roboto Regular";
  font-weight: 400;
  margin: 0;
}
h1 {width: 80px; font-weight: 900;}
a {text-decoration: none;}
button {
  cursor: pointer; 
  border: none; 
}
img {user-select: none;}
ul {
  list-style: none;
  padding: 0;
}