// Mixins
@mixin maxw1328() {
  max-width: 1328px;
  margin: 0 56px;
}
@mixin flexw() {
  display: flex; 
  flex-wrap: wrap;
}
@mixin flexc() { // Center flex
  display: flex;
  justify-content: center;
}
@mixin flexb() {
  display: flex;
  justify-content: space-between;
}
@mixin w__bg() {
  background-color: #fff; 
  border: 1px solid #fff;
}
// Variables
$b-box-shadow: 0 0 0 0.15rem;
$ci-box-shadow: 0 0 0 0.35rem;