// Import mixins, variables
@import 'mixins_var.scss';
@import "lib/breakpoints";
// State of modules and site skeleton
// Scroll
#scroll_top {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #000;
  bottom: 260px;
  right: 15px;
  z-index: 1000;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  &:hover {opacity: 1;}
}
.arrow-top {
  width: 40px;
  height: 30px;
  transform: rotate(270deg);
  cursor: pointer;
  &:active {
    path {fill: #864734;}
  }
  path {
    fill: #fff;
    transition: fill 0s ease-out;
  }
}
// Button hover/focus/active common classes header/main/footer
.btn-buy:active {background: #925745;}
.l-header .header-menu, 
.l-main .l-shop-block .shop-preview-content,
.l-footer-bottom .btn-block {
  .btn {
    &:hover {background: #000; color: #fff;}
    &:focus {box-shadow: $b-box-shadow rgba(153, 54, 84, 0.5);}
    &:active {background: #864734;}
  }
}
// Header Menu
@include media-breakpoint-down(sm) { // Add menu on mobile devices
  .l-header {
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    padding: 0;
    h1 {
      padding-top: 15px; 
      font-size: 2rem; 
      width: auto;
    }
    .header-menu {
      .basket-block #counter-label {
        width: 22px; 
        height: 20px;
      }
      .hamburger {display: block; margin-top: -105px;}
      // Nav Styles
      .nav {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #3F3B3D;
        top: -100%; left: 0; right: 0; bottom: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        transform: scale(0);
        nav {
          gap: 0;
          a {font-size: 3rem; color: #fff;}
        }
      }
      .nav-wrapper {
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        height: 100%;
      }
      nav {
        text-align: center;
        flex-direction: column;
        a {
          position: relative;
          text-decoration: none;
          color: #fff;
          font-size: 3rem;
          display: inline-block;
          margin-top: 1.85em;
          transition: color 0s ease-in-out;
          letter-spacing: 1px;
          &:before {
            content: '';
            height: 0;
            position: absolute;
            width: 0.25em;
            background-color: white;
            left: -0.5em;
            transition: all 0.2s ease-in-out;
          }
          &:hover:before {height: 100%;}
        }
      }
      // Animations
      #toggle:checked + .hamburger .top-bun {
        transform: rotate(-45deg);
        margin-top: 25px;
      }
      #toggle:checked + .hamburger .bottom-bun {
        opacity: 0;
        transform: rotate(45deg);
      }
      #toggle:checked + .hamburger .meat {
        transform: rotate(45deg);
        margin-top: -7px;
      }
      #toggle:checked + .hamburger + .nav {
        top: 0;
        transform: scale(1);
      }
    }
  }
}
// Margin global
.db { // Blocks width margin 0 56px;
  @include maxw1328();
}
// A :hover and :active elements in header/main/footer
.l-header .header-menu .nav nav,
.l-main .l-journal-block .top-news-content,
.l-footer .contacts {
  a {
    &:hover {color: #0d6efd;}
    &:active {color: #F14814;}
  }
}
.l-footer .l-author a {
  &:hover {color: #0d6efd;}
  &:active {color: rgba(255, 255, 255, 0.692);}
}
// Effects (box shadow and gradient)
.l-main {
  .l-journal-block .fw { // Class of add box-shadow effect
      &:focus-within {box-shadow: $ci-box-shadow rgba(16, 22, 14, 0.164);}
      @include media-breakpoint-down(sm) { // Off box-shadow
        &:focus-within {box-shadow: none;}
      }
  }
  .l-collection-block { // Market item collection-block gradient
    .shop-all, .browse-collection {
      @include media-breakpoint-down(sm) {
        &:hover {
          background: linear-gradient(to bottom right, #F14814, #000, #F14814);
        }
      }
    }
  }
}