// Include mixins
@import "lib/breakpoints";
// Theme classes
.wrapper {background-color: #fff;}
.header-wr {background-color: #5B25B3;}
// Header
.l-header .header-menu {
  .nav nav a {color: #3F3B3D;}
  .btn { 
    background: #DDDBDA;
    color: #3F3B3D;
  }
  #counter-label {
    background-color: #3F3B3D;
    color: #fff;
  }
}
// Main
.l-main {
  .l-collection-block {
    .collection-item { // Production text and bg color
      a {color: #3F3B3D;}
      &-desc {background: #e9e9e7;}
    }
    .shop-categories { // Change color of text in shop-categories
      .shop-all, .browse-collection {
        &-wr {color: #fff;}
      }
    }
    @include media-breakpoint-down(sm) { // 576px // Shop-categories blocks bg
      .shop-categories {
        .shop-all, .browse-collection {
          background: #3F3B3D;
        } 
      }
    }
  }
  .l-journal-block {
    .top-news-content {
      background: #fff;
      a {color: #3F3B3D;}
      @include media-breakpoint-down(lg) {
        background: #3F3B3D;
        color: #fff;
        a {color: #F14814;}
      }
    }
    .last-news-list .ln-section .lns-link {
      color: #3F3B3D;
      span {color: #5D6E67;}
    }
  } 
}
.l-main .l-shop-block .shop-preview,
.l-main .l-celebrating-imperfect, // Common classes
.l-footer {
  background: #3F3B3D;
  .sub {color: #fff;}
  .contacts {
    li {color: #F14814;} // Titles
    a {color: #fff;} // Links in nav
  }
  .copyright, .l-author { // Common classes change color of span:child(2)
    span:nth-child(1) {color: #fff;}
    span:nth-child(2), .layout-link a {color: #F14814;}
  }
  .l-author span a {color: #00f7ff;}
}