// Common prop
span {
  color: #4d5053;
}
h1,
h2 {
  color: #292f36;
}
p {
  color: #4d5053;
}
// Header
.l-header {
  nav a {
    color: #292f36;
    &:first-child {
      color: #cda274;
    }
  }
}
// Buttons
.l-main {
  // Common
  .btn-get {
    background-color: #292f36;
    border-color: #292f36;
    color: #ffffff;
  }
  .btn-connect {
    color: #ffffff;
    background-color: #cda274;
    border-color: #cda274;
  }
  // Others
  .l-m-design-offers button {
    background-color: #fff;
  }
}
// Main
.l-main {
  // Common
  .desc-arrow {
    background-color: #f4f0ec;
  }
  #desc-title {
    color: #292f36;
  }
  .number-block {
    a,
    span {
      color: #4d5053;
    }
  }
  // All
  .l-m-challenging-designs .phone-img {
    background-color: #f4f0ec;
  }
  .l-ir-wr .l-m-interno-reviews .l-ir-content {
    background-color: #f4f0ec;
    .reviews-block .review {
      background-color: #ffffff;
    }
  }
  .l-stats-wr {
    background-color: #f4f0ec;
    .l-m-stats .sb-number span {
      color: #cda274;
    }
  }
  .l-m-recent-blogs .l-rb-content .recent-blog {
    border: 1px solid #e7e7e7;
    .img-block .img-desc {
      background-color: #ffffff;
    }
  }
  .l-m-join-the-interno .l-jti-content {
    background-color: #292f36;
    h2,
    span {
      color: #ffffff;
    }
  }
  // Change bg-color
  @media (max-width: 1199.98px) {
    .l-ir-wr {
      background-color: #f4f0ec;
    }
    .jti-wr {
      background-color: #292f36;
    }
  }
}
.l-footer {
  .contact-block a {
    color: #4d5053;
  }
  .l-author a {
    color: #cda274;
  }
}
