.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}
.b-to-port {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.b-to-port a {
  font-size: 2rem;
  color: blue;
}
.b-to-port a:hover {
  color: gray;
}
.b-to-port a:active {
  color: #000;
}
.l-header {
  display: flex;
  justify-content: space-between;
  height: 42px;
  padding: 19px 13px 0px 24px;
}
.l-header a {
  height: 44px;
  font-size: 0.875rem;
  line-height: 18px;
  letter-spacing: 1.96px;
}
.l-header .header-menu,
.l-header .user-block {
  height: 20px;
}
.l-header .header-menu {
  width: 706.91px;
  display: flex;
}
.l-header .header-menu .nav {
  display: flex;
}
.l-header .header-menu .nav ul {
  display: flex;
  gap: 52px;
  width: 706.91px;
  height: 42px;
  padding-left: 27px;
}
.l-header .header-menu .nav ul .syd {
  padding-top: 2px;
}
.l-header .header-menu .nav ul .syd a {
  text-decoration: underline;
}
.l-header .header-menu .nav ul .syd svg {
  margin-right: 13px;
}
.l-header .header-menu .nav ul .allprod,
.l-header .header-menu .nav ul .inspiration,
.l-header .header-menu .nav ul .about {
  padding-top: 3px;
}
.l-header .user-block {
  width: 156.73px;
  display: flex;
}
.l-header .user-block a {
  height: auto;
}
.l-header .user-block .profile {
  padding: 5px 30px 0;
}

.l-main .l-custom-box-title {
  display: flex;
  justify-content: space-between;
  padding: 87px 0 98px 120px;
}
.l-main .l-custom-box-title-content {
  padding-top: 77px;
  width: 500px;
  height: 339px;
}
.l-main .l-custom-box-title-content p {
  color: #011f3a;
  font-size: 0.938rem;
  line-height: 24px;
  max-width: 64%;
  margin-bottom: 15px;
}
.l-main .l-custom-box-title-content .button-block {
  display: flex;
}
.l-main .l-custom-box-title-content .button-block button {
  width: 228px;
  height: 56px;
}
.l-main .l-custom-box-title-img {
  display: flex;
}
.l-main .l-custom-box-title-img img {
  height: auto;
}
.l-main .l-specifications {
  padding: 20px 105px 20px 120px;
}
.l-main .l-specifications-content {
  display: flex;
  justify-content: space-between;
}
.l-main .l-specifications-content > div {
  display: flex;
}
.l-main .l-specifications-content span {
  font-size: 0.938rem;
  line-height: 19px;
  letter-spacing: 0.6px;
  padding: 21px 0;
  max-width: 45%;
}
.l-main .l-specifications-content .shopify {
  gap: 16px;
}
.l-main .l-specifications-content .shopify span {
  max-width: 45%;
}
.l-main .l-specifications-content .amazon span {
  padding-left: 20px;
}
.l-main .l-specifications-content .eco div {
  display: flex;
  flex-direction: column;
  width: 67px;
  height: 38px;
  padding: 21px 0 0 13px;
}
.l-main .l-specifications-content .eco div span {
  max-width: 100%;
  padding: 0;
}
.l-main .l-customize-products {
  display: flex;
  flex-direction: column;
  padding: 57px 103px 49.69px 120px;
}
.l-main .l-customize-products-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 57px;
}
.l-main .l-customize-products-title h2 {
  font-size: 2rem;
  line-height: 38px;
}
.l-main .l-customize-products-title .btn-main {
  width: 247px;
  height: 44px;
}
.l-main .l-customize-products-catalog {
  display: flex;
  padding-bottom: 46px;
}
.l-main .l-customize-products-catalog .products-column {
  display: flex;
  flex-direction: column;
}
.l-main .l-customize-products-catalog .products-column .product {
  width: 400px;
  height: 432px;
}
.l-main .l-customize-products-catalog .products-column .product a {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.l-main .l-customize-products-catalog .products-column .product-img {
  width: 398px;
  height: 302px;
}
.l-main .l-customize-products-catalog .products-column .product-img img {
  height: auto;
}
.l-main .l-customize-products-catalog .products-column .product-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 15px 4px 25px;
}
.l-main .l-customize-products-catalog .products-column .product-desc .p-name {
  font-size: 1.125rem;
  line-height: 21px;
  letter-spacing: 0.36px;
}
.l-main .l-customize-products-catalog .products-column .product-desc p {
  max-width: 55%;
}
.l-main .l-customize-products-catalog .products-column .product-desc-content {
  display: flex;
  gap: 80px;
}
.l-main .l-customize-products-catalog .products-column .product-desc-content p {
  font-size: 0.938rem;
  line-height: 24px;
}
.l-main
  .l-customize-products-catalog
  .products-column
  .product-desc-content
  .price {
  display: flex;
  flex-direction: column;
}
.l-main
  .l-customize-products-catalog
  .products-column
  .product-desc-content
  .price
  span {
  font-size: 0.938rem;
  line-height: 24px;
}
.l-main .l-customize-products-catalog .products-column .cpm .product-desc p {
  max-width: 60%;
}
.l-main .l-customize-products-shock-items {
  display: flex;
  justify-content: space-between;
  width: 385.61px;
  height: 44px;
  margin: 0 auto;
}
.l-main .l-customize-products-shock-items span {
  font-size: 0.938rem;
  padding-top: 12px;
}
.l-main .l-customize-products-shock-items .btn-main {
  width: 158px;
  height: 44px;
}
.l-main .l-steps-products {
  padding: 70px 103px 70px 120px;
}
.l-main .l-steps-products-content {
  padding: 88px 50px;
  text-align: center;
}
.l-main .l-steps-products-content h2 {
  font-size: 2rem;
  line-height: 41px;
  margin-bottom: 46.31px;
}
.l-main .l-steps-products-content .steps-products {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75.69px;
}
.l-main .l-steps-products-content .steps-products .sp {
  width: 300px;
  height: 391px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.l-main .l-steps-products-content .steps-products .sp span {
  padding: 12px 0 10px;
  font-size: 1.125rem;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.36px;
}
.l-main .l-steps-products-content .steps-products .sp p {
  max-width: 63%;
  margin: 0 auto;
  font-size: 0.938rem;
  line-height: 23px;
}
.l-main .l-steps-products-content .btn-main {
  width: 220px;
  height: 44px;
  margin-bottom: 88px;
}
.l-main .l-arka-advantage {
  padding: 0 145px 141.69px 162px;
}
.l-main .l-arka-advantage h2 {
  font-size: 2rem;
  line-height: 41px;
  font-weight: 700;
  margin-bottom: 82.31px;
}
.l-main .l-arka-advantage-content {
  display: flex;
  justify-content: space-between;
}
.l-main .l-arka-advantage-content .advantage-column {
  width: 254px;
  height: 413px;
  display: flex;
  flex-direction: column;
}
.l-main .l-arka-advantage-content .advantage-column-desc {
  margin-top: 54px;
}
.l-main .l-arka-advantage-content .advantage-column-desc span {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.56px;
}
.l-main .l-arka-advantage-content .advantage-column-desc p {
  font-size: 0.938rem;
  line-height: 24px;
  margin-top: 12px;
}
.l-main .l-arka-advantage-content .ac-2 p {
  max-width: 97%;
}
.l-main .l-faq-block {
  padding: 60px 103px 60px 120px;
}
.l-main .l-faq-block-content {
  display: flex;
}
.l-main .l-faq-block-content .faq-article {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  height: 410px;
  padding: 110px 120px 90px;
}
.l-main .l-faq-block-content .faq-article h2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 36px;
  margin: 24px 0 14px;
}
.l-main .l-faq-block-content .faq-article p {
  font-size: 0.938rem;
  line-height: 24px;
  margin-bottom: 10px;
  width: 95%;
  max-inline-size: 400px;
}
.l-main .l-faq-block-content .faq-article button {
  width: 204px;
  height: 44px;
}
.l-main .l-faq-block-content .faq-line {
  padding-top: 110.31px;
}
.l-main .l-faq-block-content .faq-2 button {
  width: 196px;
  height: 44px;
}
.l-main .l-reviews {
  padding: 88px 103px 57px 120px;
}
.l-main .l-reviews h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 38px;
  margin: 0 auto 59px;
  text-align: center;
}
.l-main .l-reviews-content {
  box-shadow: 0 13px 40px -5px hsla(240deg, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0deg, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0deg, 0%, 0%, 0.02);
}
.l-main .l-reviews-content .companies-reviews {
  height: 314px;
  justify-content: space-evenly;
  gap: 175px;
}
.l-main .l-reviews-content .companies-reviews .cb {
  height: 114px;
}
.l-main .l-reviews-content .companies-reviews,
.l-main .l-reviews-content .reviews-section {
  align-items: center;
  display: flex;
}
.l-main .l-reviews-content .reviews-section .img__resp-block {
  justify-content: center;
}
.l-main .l-reviews-content .reviews-section .reviews-block {
  width: 588px;
  height: 294px;
  display: flex;
}
.l-main .l-reviews-content .reviews-section .rbt-content {
  padding: 63.69px 106px 62.5px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.l-main .l-reviews-content .reviews-section .rbt-content p {
  font-size: 1.5rem;
  line-height: 32px;
}
.l-main .l-reviews-content .reviews-section .rbt-content .about-reviewer {
  display: flex;
  gap: 45px;
}
.l-main
  .l-reviews-content
  .reviews-section
  .rbt-content
  .about-reviewer
  .reviewer {
  display: flex;
  gap: 17px;
}
.l-main
  .l-reviews-content
  .reviews-section
  .rbt-content
  .about-reviewer
  .reviewer-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 5.19px;
}
.l-main
  .l-reviews-content
  .reviews-section
  .rbt-content
  .about-reviewer
  .reviewer-info
  .r-name {
  font-size: 1.125rem;
  line-height: 22px;
}
.l-main
  .l-reviews-content
  .reviews-section
  .rbt-content
  .about-reviewer
  .reviewer-info
  .r-desc {
  font-size: 0.938rem;
  line-height: 24px;
}
.l-main .l-reviews-content .reviews-section .rbt-content .about-reviewer a {
  font-size: 0.875rem;
  line-height: 18px;
  letter-spacing: 1.96px;
  padding-top: 22px;
}
.l-main .l-reviews-content .js,
.l-main .l-reviews-content .ls {
  margin-bottom: 55px;
}
.l-main .l-reviews-content .ls .rbt-content .about-reviewer .reviewer,
.l-main .l-reviews-content .as .rbt-content .about-reviewer .reviewer {
  gap: 20px;
}
.l-main .l-reviews-content .ls {
  gap: 24px;
}
.l-main .l-reviews-content .ls .rbt-content {
  padding: 63.69px 95px 62.5px 106px;
}
.l-main .l-reviews-content .ls .rbt-content .about-reviewer {
  gap: 0;
  gap: 94px;
}
.l-main .l-reviews-content .as .rbt-content .about-reviewer {
  gap: 85px;
}
.l-main .l-start-design {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 9px 136.6px 18px;
  gap: 55.31px;
}
.l-main .l-start-design h2 {
  font-size: 1.938rem;
  font-weight: 700;
  line-height: 36px;
  padding-left: 6px;
}
.l-main .l-start-design .button-blocks {
  display: flex;
  gap: 13px;
}
.l-main .l-start-design .button-blocks .syd {
  width: 220px;
  height: 44px;
}
.l-main .l-start-design .button-blocks .bap {
  width: 247px;
  height: 44px;
}

.l-footer-contacts {
  display: flex;
  gap: 91.75px;
  padding: 60px 103px 59.69px 120px;
}
.l-footer-contacts .contacts-block {
  height: 245px;
  gap: 17px;
  display: flex;
  flex-direction: column;
}
.l-footer-contacts .contacts-block li,
.l-footer-contacts .contacts-block span,
.l-footer-contacts .contacts-block input {
  font-size: 0.938rem;
  line-height: 18px;
}
.l-footer-contacts .contacts-block .social-links {
  display: flex;
  gap: 11px;
}
.l-footer-contacts .contacts-block .social-links a {
  height: 24px;
}
.l-footer-contacts .custom-design {
  width: 164px;
}
.l-footer-contacts .about-us {
  width: 134px;
}
.l-footer-contacts .shopify-app {
  width: 170px;
}
.l-footer-contacts .email {
  width: 280px;
  gap: 13px;
}
.l-footer-contacts .email form {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.l-footer-contacts .email form input {
  border-radius: 25px;
  height: 30px;
  padding: 3px 0 0 24px;
  width: 255px;
}
.l-footer-contacts .email form button {
  border-radius: 30px;
  font-size: 1.125rem;
  font-weight: 700;
  height: 44px;
  line-height: 21px;
  width: 187px;
}
.l-footer .l-author {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 32px;
}
.l-footer .l-author strong {
  font-weight: 700;
}

/*# sourceMappingURL=layout.css.map */
