@media (min-width: 2099px) {
  #scroll_top {
    width: 300px;
    height: 200px;
  }
}
@media (min-width: 1921px) {
  #scroll_top {
    min-width: 80px;
    min-height: 80px;
    max-width: 100px;
    max-height: 100px;
  }

  .l-footer {
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
}
@media (min-width: 1500px) {
  .l-header, .l-footer {
    justify-content: center;
  }

  .l-header .header-menu .nav ul {
    justify-content: center;
  }

  .l-main .l-custom-box-title-content p {
    font-size: 1.2rem;
    max-width: 80%;
    margin-bottom: 25px;
  }
  .l-main .l-custom-box-title,
.l-main .l-specifications-content,
.l-main .l-customize-products-title {
    gap: 60px;
    justify-content: center;
  }
  .l-main .l-customize-products-shock-items span {
    font-size: 1rem;
  }
  .l-main .l-customize-products-catalog,
.l-main .l-faq-block-content {
    justify-content: center;
  }
  .l-main .l-steps-products-content .steps-products .sp p,
.l-main .l-customize-products-catalog .products-column .product-desc-content p,
.l-main .l-arka-advantage-content .advantage-column-desc p {
    font-size: 1.2rem;
  }
  .l-main .l-steps-products-content .steps-products,
.l-main .l-arka-advantage-content {
    gap: 160px;
    justify-content: center;
  }
  .l-main .l-arka-advantage h2 {
    text-align: center;
  }
  .l-main .l-faq-block-content .faq-article {
    height: auto;
  }
  .l-main .l-faq-block-content .faq-article p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .l-main .l-reviews-content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .l-footer-contacts {
    justify-content: center;
  }
  .l-footer-contacts .contacts-block li {
    font-size: 1rem;
  }
  .l-footer-contacts .contacts-block a, .l-footer-contacts .contacts-block span {
    font-size: 1.2rem;
  }
}
@media (max-width: 1399.98px) {
  .l-main .l-customize-products-catalog .products-column .product {
    width: auto;
  }
  .l-main .l-customize-products-catalog .products-column .product-img {
    display: flex;
    width: auto;
  }
  .l-main .l-customize-products-catalog .products-column .product-desc p {
    max-width: 64%;
  }
  .l-main .l-customize-products-catalog .products-column .product-desc-content {
    display: flex;
    gap: 10px;
  }
  .l-main .l-faq-block-content .faq-article {
    padding: 110px 0 90px;
  }
  .l-main .l-faq-block-content .faq-article p {
    max-width: 55%;
  }
  .l-main .l-reviews-content .reviews-section .rbt-content, .l-main .l-reviews-content .reviews-section .ls {
    padding: 63.69px 40px 62.5px;
  }
  .l-main .l-reviews-content .ls {
    gap: 0;
  }

  .l-footer-contacts {
    justify-content: space-between;
    gap: 0;
  }
}
@media (max-width: 1199.98px) {
  .l-header .user-block .profile {
    padding: 3px 20px 20px 30px;
  }

  .l-main .l-customize-products {
    padding: 57px 80px 49.69px;
    gap: 30px;
  }
  .l-main .l-customize-products-catalog .products-column .product-desc {
    padding: 0;
  }
  .l-main .l-customize-products-catalog .products-column .product-desc-content {
    flex-direction: column;
    gap: 0;
  }
  .l-main .l-customize-products-catalog .products-column .cpm .product-desc p {
    max-width: 100%;
  }
  .l-main .l-steps-products {
    padding: 70px 80px 0;
  }
  .l-main .l-steps-products-content {
    padding: 88px 0;
  }
  .l-main .l-arka-advantage {
    padding: 0 80px 141.69px;
  }
  .l-main .l-faq-block {
    padding: 60px 80px;
  }
  .l-main .l-faq-block-content .faq-article {
    height: auto;
  }
  .l-main .l-reviews {
    padding: 88px 80px 57px;
  }
  .l-main .l-reviews-content .companies-reviews {
    gap: 0;
  }
  .l-main .l-reviews-content .reviews-section .rbt-content .about-reviewer {
    gap: 10px;
    justify-content: space-between;
  }

  .l-footer-contacts {
    padding: 60px 30px 59.69px;
    flex-wrap: wrap;
  }
}
@media (max-width: 991.98px) {
  .l-header .header-menu {
    width: 480px;
  }
  .l-header .header-menu .nav ul {
    gap: 10px;
    padding-left: 20px;
    width: 480px;
  }
  .l-header .header-menu .nav ul a {
    letter-spacing: 1.36px;
  }
  .l-header .header-menu .nav ul .syd svg {
    margin: 0;
  }
  .l-header .user-block .profile {
    padding: 5px 20px 0 30px;
  }

  .l-main .l-custom-box-title {
    padding: 40px 0 40px 0;
    justify-content: center;
  }
  .l-main .l-custom-box-title-content {
    padding: 0;
  }
  .l-main .l-custom-box-title-content h1 {
    font-size: 2.5rem;
    max-inline-size: 400px;
  }
  .l-main .l-custom-box-title-content p {
    font-size: 1.5rem;
    max-width: 100%;
    margin-bottom: 25px;
  }
  .l-main .l-custom-box-title-content .button-block {
    justify-content: center;
  }
  .l-main .l-custom-box-title-img {
    display: none;
  }
  .l-main .l-specifications-content {
    justify-content: center;
    gap: 20px;
  }
  .l-main .l-customize-products {
    padding: 57px 40px 49.69px;
    gap: 0;
  }
  .l-main .l-customize-products-title {
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
  }
  .l-main .l-customize-products-title h2 {
    text-align: center;
  }
  .l-main .l-customize-products-catalog {
    flex-wrap: wrap;
    justify-content: center;
  }
  .l-main .l-customize-products-catalog .products-column {
    flex-direction: row;
    max-inline-size: 796px;
  }
  .l-main .l-customize-products-catalog .products-column .product {
    height: auto;
    gap: 0;
  }
  .l-main .l-customize-products-catalog .products-column .product-img {
    height: auto;
  }
  .l-main .l-steps-products {
    padding: 70px 40px 0;
  }
  .l-main .l-steps-products-content {
    padding: 0;
  }
  .l-main .l-steps-products-content h2 {
    margin: 0 auto;
    max-width: 70%;
  }
  .l-main .l-steps-products-content .steps-products {
    justify-content: center;
  }
  .l-main .l-steps-products-content .steps-products .sp {
    height: auto;
    width: 275px;
  }
  .l-main .l-arka-advantage {
    padding: 0 40px 141.69px;
  }
  .l-main .l-arka-advantage h2 {
    text-align: center;
  }
  .l-main .l-arka-advantage-content {
    gap: 10px;
  }
  .l-main .l-arka-advantage-content .advantage-column {
    height: auto;
  }
  .l-main .l-arka-advantage-content .advantage-column-desc {
    margin: 0;
  }
  .l-main .l-arka-advantage-content .advantage-column p {
    max-width: 100%;
  }
  .l-main .l-faq-block {
    padding: 60px 0;
  }
  .l-main .l-faq-block-content .faq-article {
    height: auto;
  }
  .l-main .l-reviews {
    padding: 88px 0 57px;
  }
  .l-main .l-reviews-content {
    box-shadow: none;
  }
  .l-main .l-reviews-content .reviews-section .rbt-content, .l-main .l-reviews-content .reviews-section .ls {
    padding: 63.69px 30px 62.5px;
  }

  .l-footer-contacts {
    justify-content: center;
    gap: 15px;
    padding: 60px 0 40px;
  }
  .l-footer-contacts .contacts-block {
    flex-direction: column;
    gap: 17px;
    padding-left: 36px;
    height: auto;
  }
  .l-footer-contacts .email {
    width: 334px;
    height: 150px;
  }
  .l-footer-contacts .email span {
    text-align: center;
  }
  .l-footer-contacts .email form {
    align-items: center;
  }
  .l-footer-contacts .email form input {
    height: 40px;
  }
}
@media (max-width: 767.98px) {
  .l-header {
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 19px 0 0;
  }
  .l-header .header-menu {
    height: auto;
  }
  .l-header .header-menu .nav ul {
    height: auto;
    padding-top: 15px;
    padding-left: 0;
  }
  .l-header .user-block {
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .l-main .l-custom-box-title-content {
    padding: 0 30px;
  }
  .l-main .l-specifications {
    padding: 20px 20px 0 20px;
  }
  .l-main .l-specifications-content {
    flex-wrap: wrap;
  }
  .l-main .l-steps-products {
    padding: 70px 0 40px;
  }
  .l-main .l-steps-products .steps-products {
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .l-main .l-arka-advantage {
    padding: 0;
  }
  .l-main .l-arka-advantage h2 {
    margin-bottom: 20px;
  }
  .l-main .l-arka-advantage p {
    max-width: 80%;
    margin: 0 auto;
  }
  .l-main .l-arka-advantage-content {
    gap: 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .l-main .l-faq-block-content {
    align-items: center;
    flex-direction: column;
  }
  .l-main .l-faq-block-content .faq-article {
    width: auto;
  }
  .l-main .l-faq-block-content .faq-1 {
    padding: 60px 0 0;
  }
  .l-main .l-faq-block-content .faq-line {
    display: none;
  }
  .l-main .l-faq-block-content .faq-2 {
    padding: 60px 0;
  }
  .l-main .l-reviews {
    padding: 0;
  }
  .l-main .l-reviews h2 {
    margin-bottom: 40px;
  }
  .l-main .l-reviews-content .companies-reviews {
    height: auto;
  }
  .l-main .l-reviews-content .companies-reviews, .l-main .l-reviews-content .reviews-section {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .l-main .l-reviews-content .reviews-section {
    padding-top: 20px;
  }
  .l-main .l-reviews-content .reviews-section .imgs-block {
    display: none;
  }
  .l-main .l-reviews-content .reviews-section .reviews-block {
    width: auto;
  }
  .l-main .l-reviews-content .reviews-section .reviews-block .rbt-content {
    align-items: center;
    padding: 0;
  }
  .l-main .l-reviews-content .reviews-section .reviews-block .rbt-content p {
    font-size: 1.2rem;
    max-width: 80%;
    margin: 0 auto;
  }
  .l-main .l-reviews-content .reviews-section .reviews-block .rbt-content .about-reviewer {
    flex-direction: column;
  }
  .l-main .l-reviews-content .js {
    height: 250px;
  }
  .l-main .l-reviews-content .ls, .l-main .l-reviews-content .as {
    height: 220px;
  }

  .l-footer-contacts .contacts-block {
    padding-left: 51px;
  }
  .l-footer-contacts .shopify-app {
    padding-left: 51px;
  }
  .l-footer-contacts .email {
    width: 293px;
    padding-left: 10px;
  }
}
@media (max-width: 575.98px) {
  .l-header .header-menu {
    width: auto;
  }
  .l-header .header-menu .nav ul {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    padding: 15px 85px 10px;
    text-align: center;
    width: auto;
  }
  .l-header .header-menu .nav ul .syd img {
    margin-right: 3px;
  }

  .l-main .l-custom-box-title-content {
    height: auto;
  }
  .l-main .l-custom-box-title-content h1 {
    font-size: 2rem;
    height: auto;
    line-height: 40px;
    max-inline-size: 350px;
    margin-bottom: 35px;
  }
  .l-main .l-custom-box-title-content p {
    max-width: 90%;
    margin-bottom: 25px;
  }
  .l-main .l-specifications {
    padding: 20px 0px 40px 0px;
  }
  .l-main .l-specifications-content {
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .l-main .l-specifications-content .shopify {
    gap: 0;
  }
  .l-main .l-specifications-content > div {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .l-main .l-specifications-content span {
    padding: 0;
    max-width: 100%;
  }
  .l-main .l-specifications-content .shopify span {
    max-width: 100%;
  }
  .l-main .l-specifications-content .amazon span {
    padding-left: 0;
  }
  .l-main .l-specifications-content .eco div {
    flex-direction: initial;
    height: auto;
    padding: 0;
    width: auto;
  }
  .l-main .l-customize-products-catalog .products-column {
    flex-direction: column;
  }
  .l-main .l-customize-products-catalog .products-column .product-desc {
    padding: 0;
  }
  .l-main .l-customize-products-catalog .products-column .product-desc p {
    font-size: 1rem;
  }
  .l-main .l-customize-products-shock-items {
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 10px;
  }
  .l-main .l-customize-products-shock-items span {
    font-size: 1.125rem;
    text-align: center;
  }
  .l-main .l-steps-products-content h2 {
    max-width: 85%;
  }
  .l-main .l-steps-products-content .steps-products {
    align-items: center;
    flex-direction: column;
  }
  .l-main .l-arka-advantage h2 {
    max-width: 50%;
    margin: 0 auto;
  }
  .l-main .l-arka-advantage-content {
    align-items: center;
    flex-direction: column;
  }
  .l-main .l-arka-advantage-content p {
    max-width: 95%;
  }
  .l-main .l-faq-block-content .faq-article h2 {
    max-width: 60%;
  }
  .l-main .l-faq-block-content .faq-article p {
    max-width: 65%;
  }
  .l-main .l-reviews h2 {
    font-size: 1.7rem;
  }
  .l-main .l-reviews-content .reviews-section .reviews-block .rbt-content {
    gap: 15px;
  }
  .l-main .l-reviews-content .reviews-section .reviews-block .rbt-content p {
    font-size: 1rem;
  }
  .l-main .l-reviews-content .js, .l-main .l-reviews-content .ls {
    height: 240px;
  }
  .l-main .l-reviews-content .as {
    height: 230px;
  }
  .l-main .l-start-design {
    padding: 120px 0 136.6px;
  }
  .l-main .l-start-design .button-blocks {
    align-items: center;
    flex-direction: column;
  }

  .l-footer-contacts {
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 60px 0 59.69px;
  }
  .l-footer-contacts .custom-design, .l-footer-contacts .about-us, .l-footer-contacts .shopify-app {
    width: auto;
    align-items: center;
    width: 154px;
    text-align: center;
  }
  .l-footer-contacts .contacts-block {
    gap: 25px;
    padding: 0;
    width: auto;
  }
  .l-footer-contacts .contacts-block .contacts-block-title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 27px;
  }
  .l-footer-contacts .contacts-block .contacts-block-link {
    font-size: 1.25rem;
  }
  .l-footer-contacts .email span {
    font-size: 1.25rem;
    text-align: center;
  }
  .l-footer-contacts .email form {
    align-items: center;
  }
  .l-footer-contacts .email form input {
    width: 220px;
  }
}
@media (max-width: 320px) {
  body {
    width: 320px;
  }
}

/*# sourceMappingURL=media.css.map */
