// Styles file for seoflow layout by jkenix. 
@font-face {
  font-display: swap;
  text-rendering: optimizeLegibility; 
  font-family: "Nunito Regular";
  src: url(/webfonts/NunitoRegular.woff) format("woff");
}
@font-face {
  font-display: swap;
  text-rendering: optimizeLegibility; 
  font-family: "Nunito ExtraBold";
  src: url(/webfonts/NunitoExtraBold.woff) format("woff");
}
// Import mixins from bootstrap.min.css
@import 'bootstrap/functions';
@import 'bootstrap/variables.scss'; 
@import 'bootstrap/mixins.scss';
// Import mixins, variables
@import 'mixins_var.scss';
// Import specify classes styles
@import 'jk_specify.scss';
/* Global selectors styles */
h1 {
  margin: 0; 
  text-align: start;
  font-family: "Nunito ExtraBold";
  width: 94px;
  height: 23px;
}
h2 {
  margin: 0; 
  line-height: 56px;
  font-family: "Nunito Regular";
}
h3 {
  margin: 0; 
  font-family: "Nunito Regular";
  line-height: 34px;
}
p {
  margin: 0;
  font-family: "Nunito Regular";
  font-size: 1.125rem; 
}
a {
  font-size: 1rem;
  font-family: "Nunito Regular";
  color: #000;
}
span {font-family: "Nunito Regular";}
button {font-family: "Nunito Regular";}
img {user-select: none;}
ul {list-style: none;}
input, textarea {
  font-family: "Nunito Regular"; 
  font-size: 1.125rem; line-height: 34px;
}
// Header
.header-wr {background-color: #5B25B3;}
header {
  height: 68px;  
  padding: 0 123px 0 140px;
  padding-top: 20px;
  .row_content {
    @include maxw();
    .contacts {
      display: flex; 
      .col {
        display: flex;
        height: 28px; 
        a {
          color: #fff; padding: 0 0 0 12px;
          line-height: 28px;
          &:hover {color: #000;}
          &:active {color: #0059ff;}
        }
      }
      .phone-block {margin-right: 25px;}
      .mail a {font-size: 0.938rem;}
    }
    .media {
      max-width: 94.12px; height: 28px;
      @include flexb();
      a {
        &:hover {color:#fff;}
        &:active {color:#0059ff;}
      }
    }
  }
}
.nav-wr {
  width: 100%; height: 94px;
  padding: 0 123px 0 140px;
  .b-wr {
    height: 94px;
    padding: 0 15px 0 15px;
    @include maxw();
    @include w__bg();
    border-radius: 10px;
    @include flexb(); align-items: center;
    .header-logo {max-width: 94px;}
    // Menu
    .menu-block {
      max-width: 582.13px;
      ul li a {
        &:active {color:#F4AB00; transition: all 0s;}
      }
    }
    .menu {
      font-size: 1.25rem;
      display: none;
    }
    @include btn();
    .btn_main-content {
      width: 100px; height: 41px; 
      font-size: 0.813rem;
    }
  }
}
// Main
.main {
  .strategic-seo-marketing {
    padding: 75px 123px 112px 140px;
    background-color: #5B25B3;
    .row_content {@include maxw(); gap: 55px;}
    .text_col {
      max-width: 480px;
      color: #fff; display: flex; flex-direction: column;
      h2 {
        display: flex;
        flex-direction: column;
        margin: 30px 0 41px 0;
        line-height: 70px;
        font-size: 3.75rem;  
        span {color: #F4AB00;}
      }
      p {
        width: 84%;
        line-height: 34px;
        margin-bottom: 25px;
      }
      @include btn();
      .btn_main-content {width: 186px; height: 52px;}
    }
  }
  .seo-marketing-agency, .building-conversion-strategy { // Common classes
    .as-content {
      @include maxw();
      padding: 0 80px 0 80px; @include w__bg();
      span {color: #F4AB00; font-size: 1.188rem;}
      .col_content-2 {
        .row {
          margin-left: 60px;
          gap: 25px;
          .img__resp {
            padding: 0;
            max-width: 86px; max-height: 86px;
          }
          .text_col {
            padding: 0;
            p {
              font-size: 0.938rem; 
              line-height: 28px; 
              max-width: 80%;
              padding-top: 10px;
            }
          }
        } 
      }
    }
  }
  .seo-marketing-agency { 
    width: 100%; height: 124px;
    padding: 0 123px 0 140px;
    margin-bottom: 20px;
    background-color: #5B25B3;
    .as-content {
      border-radius: 10px 10px 0 0;
      .col, .col-xl {padding-top: 100px;}  // common col
    }
  }
  .building-conversion-strategy {
    padding: 0 123px 0 140px;
    margin-bottom: 147px;
    .col_content-1 {
      padding-top: 5px;
      h2 {margin: 0 0 25px 0;}
      p {line-height: 34px; max-width: 96%;}
    }
    .col_content-2 {
      padding-top: 100px;
      .row {padding-top: 45px;} 
    }
  }
  .appear-fp, .reasons-choosing-seo { // Common classes
    span {font-size: 1.25rem; line-height: 30px;}
    .text_col {
      h2 {margin-bottom: 25px;}
      p {line-height: 34px;}
    }
  }
  .appear-fp {
    padding: 75.41px 5px 153px 39px;
    @include maxw();
    .text_col {
      padding-left: 80px;
      h2 {padding-top: 21px;}
      p {line-height: 34px; margin-bottom: 26px;}
      .ul-col {
        li {line-height: 28px;}
        .fa-check {padding-right: 19px;}
      }
      .ulc_1 li {padding: 0 0 13px 7px;}
      .ulc_2 li {padding: 0 0 13px 15px;}
    } // text_col end
    .img__resp {max-width: 552px;}
  } 
  .reasons-choosing-seo {
    @include maxw();
    padding: 0 0 201px 8px;
    padding-left: 8px; gap: 65px;
    .text_col {
      padding-top: 22px;
      h2 {padding-top: 19px;}
      p {line-height: 34px;}
      .stat_col {
        padding: 33px 66.5px 0 24px;
        justify-content: space-between;
        .row {max-width: 210px;}
        .col_img, .col_img-2 {flex: 0 0 0%; margin: 0 20px 0 0;}
        .conversion .col_img-2 {padding-left: 35px;}
        .text-stat_col {
          display: flex;
          flex-direction: column;
          padding: 3px 0 0px 0;
          span {
            color: #2C1258;
            font-size: 1.75rem;
            &:last-child {font-size: 0.938rem}
          }
        }
      }
    } // text_col end
    .img__resp {max-width: 555px;}
  }
  .conversion-rate {
    padding: 96px 123px 99.69px 140px;
    margin-bottom: 185.5px; color: #fff;
    background-color: #5B25B3;
    .cr-info_col {
      padding-top: 157.69px;
      span {max-width: 93%; margin-bottom: 26px;}
      p {
        max-width: 91%; 
        line-height: 34px; 
        margin: 26px 0 25px 0px;
      }
      @include btn();
      .btn_main-content {
        width: 186px;
        height: 52px;
        margin-bottom: 156.31px;
      }
    }
    .cards_col {
      width: 671px; height: 662px;
      padding: 3px 0 0 0;
      .b-wr {
        @include w__bg(); border-radius: 4px; 
        color: #2C1258;
        padding: 34px 0 0 35px;
        span {font-size: 1.188rem; margin: 25px 0 15px 0;}
        p {
          font-size: 0.938rem; 
          max-width: 92%; 
          line-height: 28px;
        }
      }
      svg {width: 50px;}
      .row_content {gap: 30px;}
      .cards-block_1, .cards-block_2 {
        .b-wr {max-width: 318px; height: 286px;}
      }
      .cards-block_2 .ast {
        p {font-size: 1rem; max-width: 92%;}
      }
      .br__m {margin-top: 30px;}
    } //cards_col end
  }
  .our-services {
    margin: 0 auto 90px auto;
    max-width: 1160px;
    h2 {text-align: center; margin-bottom: 30.5px;}
    .row {
      justify-content: space-between;
      .col-xl {
        text-align: center;
        max-width: 167px;
        max-height: 110px;
      }
      .b-wr {
        max-height: 110px;
        padding: 24px 20px 29px 22px;
        span {font-size: 1rem; line-height: 16px;}
        svg {margin-bottom: 10px;}
        &:hover {
          background-color: #F4AB00; 
          a {color: #fff;}
        }
        &:active {
          a {color: #000;}
        }
      }
    }
  }
  .seo-marketing {
    max-width: 1160px;
    margin: 0 auto 30px auto;
    margin-bottom: 30px;
    .text_col {
      padding: 50.5px 0 0 10px;
      h2 {font-size: 2.125rem; line-height: 54px;}
      p {
        margin: 15px 0 19.5px 0; 
        line-height: 34px;
        max-width: 73%;
      }
      ul {
        padding-left: 8px;
        margin-bottom: 43px;
        li {
          padding-bottom: 13px; line-height: 28px; 
          .fa-regular {padding-right: 17px;}
          &:last-child {padding: 0;}
        }
      }
      @include btn();
      .btn_main-content {
        width: 186px;
        height: 52px;
        margin: 0 0 156.31px 0;
        justify-content: center; align-items: center;
      }
    }
    .img__resp {display: block;}
  }
  .how-seo-work {
    padding: 58px 140px 100px 140px;
    margin-bottom: 176px;
    color: #fff;
    justify-content: center;
    background-color: #421B81;
    h2, h3 {padding-left: 15px; text-align: center; }
    h2 {
      width: 425px;
      span {color: #F4AB00;}
    }
    h3 {line-height: 9px; margin: 44px 0 90px 0;}
    .row_content {
      padding: 0 40px 0 60px;
      @include maxw();
      text-align: center;
      justify-content: space-between; 
      // Common code 
      span {font-size: 1.25rem;}
      .business-strategy, .keyword-analysis, .optimization {
        max-width: 266px;
        .col {padding-bottom: 26px;}
        p {
          line-height: 28px;
          font-size: 1rem;
          width: 90%; margin: 10px auto 0 auto;
        }
      }
      .business-strategy, .keyword-analysis {
        p {
          font-size: 1rem;
          width: 90%; margin: 10px auto 0 auto;
        }
      }
      .optimization {
        max-width: 266px;
        .col_img {
          justify-content: center;
          display: flex;
        }
        span {font-size: 1.188rem;}
        p {margin: 10px auto 0 auto;}
      }
    }
  }
  .marketing-team {
    padding: 0 173px 0 173px;
    margin-bottom: 196px;
    h2, h3 {padding-left: 20px; text-align: center;}
    h3 {margin: 10px 0 60px 0;}
    .block_top {margin-bottom: 60px;}
    // Common classes
    .block_top, .block_bottom {
      display: flex; gap: 24px;
      .icon_col {max-width: 86px;}
    }
    // Main classes
    .col_1 {
      margin-right: 30px;
      span:nth-child(1) {font-size: 1.188rem;}
      .text_col {
        max-width: 126px; 
        padding-top: 16px;
        span:nth-child(2) {font-size: 0.938rem;}
      }
    }
    .col_2 {
      .block_top {
        span {
          &:nth-child(1) {font-size: 1.188rem;}
          &:nth-child(2) {font-size: 0.875rem;}
        }
      }
      .block_bottom {
        span {
          &:nth-child(1) {font-size: 1.25rem;}
          &:nth-child(2) {font-size: 0.938rem;}
        }
      }
      .text_col {padding-top: 14px; max-width: 133px;}
    }
    .col_3 {
      span {
        &:nth-child(1) {font-size: 1.25rem;}
        &:nth-child(2) {font-size: 0.938rem;}
      }
      .block_top, .block_bottom {margin-left: 35px;}
      .block_bottom {
        span:nth-child(1) {font-size: 1.188rem;}
      }
      .text_col {padding-top: 14px; max-width: 157px;}
    }
  }
  .pricing-plans {
    padding: 130px 123px 110px 140px;
    margin-bottom: 225px;
    background-color: #5B25B3;
    h2, h3 {text-align: center; color: #fff;}
    h2 {font-size: 2.375rem;}
    h3 {margin-bottom: 53px; line-height: 50px;}
    .plans {justify-content: space-between;}
    // Common classes
    .col-xl {max-width: 360px; @include w__bg();}
    .plan-silver,  .plan-gold, .plan-platinum {
      padding: 35px 38px 52px 30px;
      border-radius: 15px;
      .pt {
        color: #F4AB00;
        display: flex; 
        justify-content: center;
        font-size: 1.375rem; 
      }
      .row_price {
        color: #5B25B3;
        padding-left: 60px;
        font-size: 3.125rem; 
        line-height: 36px;
      }
      .row_type {
        color: #5B25B3;
        display: flex; margin-bottom: 35px;
        .col {width: 107px;}
        .val {
          display: flex; 
          padding-left: 40px; 
          max-width: 146px; 
        }
        span {font-size: 1.25rem; line-height: 26px;}
      }
      ul {
        padding: 0 0 40px 7px;
        li {
          font-size: 0.938rem; 
          line-height: 25px;
          padding-bottom: 24px;
        }
      }
      .fa-check, .fa-solid {padding-right: 19px;}
      .fa-check {color: #2C1258;}
      .fa-solid {color: #ED6436; font-size: 20px;}
      .btn__transparent {
        width: 168px; height: 54px;
        margin: 0 auto;
        font-size: 1rem; color: #2C1258; 
        border: 2px solid #2C1258; 
        background-color: transparent;
        @include flexc();
        &:hover {
          transition: 0s all; background-color: #F4AB00; 
          color: #fff; 
        }
        &:active {
          transition: 0s all; background-color: #000;
          color:#F4AB00;
        }
      }
    }
      // Main classes
    .plan-gold {
      padding-top: 13px;
      svg {position: relative; left: -31px;}
      .pt {height: 30px;}
      .row_type {margin-bottom: 30px;}
    }
  }
  .client-review {
    padding: 0 140px 0 140px;
    margin-bottom: 250px;
    text-align: center; justify-content: center;
    h2 {
      padding-left: 20px; 
      letter-spacing: 1px; 
      margin-bottom: 21px;
    }
    .col {max-width: 34px;  margin: 0 0px 30px 15px;}
    p {
      width: 64%; margin: 0 0px 10px 215px;
      font-size: 1.5rem; line-height: 43px;
    }
    .carousel {
      .carousel-indicators {margin-bottom: -45px;}
      .carousel-control-next, .carousel-control-prev {max-width: 100px;}
      .client span {
        padding-left: 10px;
        &:nth-child(1) {
          font-size: 1.188rem; 
          padding-top: 10px; line-height: 30px;
        }
        &:nth-child(2) {font-size: 0.938rem; line-height: 24px;}
      }
    }
  }
  .companies {
    max-width: 1160px;
    margin: 0 140px 138px 140px;
    padding: 50px 40px 64px 55px;
    .col-sm, .col-md {
      display: flex;
      .col {display: flex;}
    }
    .col_2 {
      .oh_tb {padding-left: 30px;}
      .airtable {padding-left: 120px;}
    }
    .col_3 {
      .gravel {padding-left: 75px;}
      .flick {justify-content: end;}
    }
  }
  .news-case-studies {
    padding: 79px 123px 140px 140px;
    text-align: center; justify-content: center;
    background-color: #E5D8FA;
    h2, h3 {padding-right: 10px;}
    h3 {padding-top: 10px; margin-bottom: 49px;}
    .content {
      gap: 16px; margin-bottom: 60px; 
      justify-content: center;
    }
    .col-lg {background-color: #fff; max-width: 376px;}
    img {margin-bottom: 20px;}
    span {font-size: 0.75rem;}
    .fa-angle-right {
      padding-left: 5px;
      font-size: 0.625rem;   
      color: #0059ff;
    }
    p {
      font-size: 1.375rem; 
      line-height: 34px; 
      width: 90%; margin: 18px auto 28px auto;
    }
    .btn__transparent {
      width: 179px; height: 54px;
      color: #2C1258;
      font-size: 1rem; 
      border: 2px solid #2C1258; 
      background-color: transparent;
      &:hover {
        transition: 0s all; background-color: #F4AB00; 
        color: #fff; 
      }
      &:active {
        transition: 0s all; background-color: #000;
        color:#F4AB00;
      }
    }
  }
  .get-in-touch {
    background-color: #2C1258;
    color: #fff;
    text-align: center; justify-content: center;
    padding-top: 109px;
    margin-bottom: 145px;
    h2 {margin-bottom: 11px;}
    h3 {font-size: 1.125rem; margin-bottom: 55px;}
    .contacts-wr {
      padding: 0 123px 0 140px;
      height: 100px;
      .git-contacts {
        color: #2C1258;
        justify-content: space-between;
        .col-lg {
          @include w__bg();
          border-radius: 16px 16px 0 0;
          max-width: 367px;
          padding-top: 40px;
          text-align: center;
          &:hover {
            transform: scale(1.03);
            box-shadow: $box-shadow;
          }
        }
        .c_title {padding-bottom: 16px;}
        a:active {color: #F4AB00;}
        .git-address {
          .address {font-size: 1.25rem;}
          .row {padding-top: 20px;}
          span {font-size: 1.25rem;}
          a {
            font-size: 0.938rem; 
            max-width: 65%; 
            margin: 0 auto; 
            line-height: 28px;
          }
        }
        .git-phone {
          .phone {font-size: 1.25rem;}
          .row {padding-top: 23px;}
          span {font-size: 1rem; line-height: 28px;}
        } 
        .git-email {
          span {font-size: 1.188rem;}
          .row {padding-top: 20px;}
          a {font-size: 0.938rem; line-height: 28px;}
        }
      }
    }
  }
  .enquiry-form {
    padding: 136px 135px 0 140px;
    margin-bottom: 180px;
    .form_col {
      padding-left: 60px;
      h2 {margin-bottom: 16px;}
      p {line-height: 34px; margin-bottom: 26px;}
      a {
        font-size: 1.125rem;
        &:active {color: #F4AB00;}
      }
      form {
        display: flex; gap: 24px;
        .row {justify-content: space-between;}
        .col-sm {
          max-width: 262px;
          input {
            height: 52px;
            width: 255px;
            padding-left: 17px;
          }
        }
        textarea {
          max-width: 533px; 
          padding: 19px 0 5px 21px;
        }
        @include btn();
        .btn_main-content {width: 159px; height: 57px;}
      }
    }
  }
}
// Footer
.footer {
  padding: 0px 140px 40px 140px; 
  @include flexb(); gap: 12px;
  a:active {color: #F4AB00;} // active a elements
  .contacts, .footer-bottom {@include maxw();}
  .contacts {
    padding-bottom: 90px;
    .nav_col {
      padding-top: 5px;
      span {font-size: 1.188rem; line-height: 28px; width: auto;}
      a {width: auto; font-size: 1rem; line-height: 28px;}
    }
    .seoflow {
      span {font-size: 1.3rem;}
      p {
        width: 99%;
        font-size: 0.938rem; 
        margin-top: 17px; 
        line-height: 28px;
      }
    }
    .ql ul {
      gap: 12px;
      li {padding-left: 65px;}
    }
    .services {
      ul {
        gap: 12px;
        li {padding-left: 10px;}
      }
    }
    .git {
      .fa-solid, .fa-regular {color: #F4AB00;}
      ul {
        li {padding-left: 15px;}
        .fa-square-phone {
          font-size: 30px;
          padding: 5px 15px 15px 0; 
        }
        .fa-location-dot {
          font-size: 22px;
          padding: 5px 15px 15px 8px;
        }
        p {
          margin: 0; height: 30px; 
          font-size: 1rem;
          &:nth-child(2) {padding: 0 0 50px 40px;}
        }
        .fa-envelope {
          font-size: 25px; 
          padding-right: 15px;
        }
          a:nth-child(2) {font-size: 0.900rem;}
        }
      }
    .fu {
      .row {
        gap: 10px;
        text-align: center;
        padding: 3px 0 0 10px;
        span {font-size: 1.25rem;}
        .media {
          display: flex;
          justify-content: center; gap: 20px;
          a {font-size: 25px;}
        }
      }
    } 
  }
  .footer-bottom {
    justify-content: space-between;
    a, li, span {font-size: 0.875rem;}
    strong {font-size: 1rem;}
    .fb_nav {
      display: flex; width: auto;
      gap: 10px;
      a {text-decoration: underline;}
      .info-links {display: flex; gap: 8px;}
    }
    span {width: auto;}
    .info_col {
      display: flex; 
      justify-content: flex-end; 
      padding: 0;
    }
  }
}