@media (min-width: 2099px) {
  #scroll_top {
    width: 100px;
    height: 100px;
    font-size: 100px;
  }
}
@media (min-width: 1921px) {
  body {
    background-color: #495057 !important;
  }

  #scroll_top {
    min-width: 80px;
    min-height: 80px;
    max-width: 100px;
    max-height: 100px;
    font-size: 50px;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
@media (min-width: 1501px) {
  .main h2 {
    font-size: 3.438rem;
  }
  .main h3 {
    font-size: 1.25rem;
  }
  .main p {
    font-size: 1.25rem;
  }
  .main .building-conversion-strategy {
    margin-bottom: 50px;
  }
  .main .appear-fp {
    padding-bottom: 60px;
  }
  .main .reasons-choosing-seo {
    padding-bottom: 60px;
  }
  .main .conversion-rate {
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
  }
  .main .conversion-rate .cr-info_col {
    max-width: 500px;
  }
  .main .conversion-rate .cr-info_col h2 {
    margin-bottom: 35px;
    width: 90%;
  }
  .main .conversion-rate .cr-info_col p {
    width: 80%;
  }
  .main .conversion-rate .cr-info_col .btn_main-content {
    margin: 0 auto;
    max-width: 80%;
  }
  .main .conversion-rate .cards_col .row_content .row {
    justify-content: center;
  }
  .main .conversion-rate .cards_col .b-wr {
    padding: 35px 0 0 0px;
  }
  .main .conversion-rate .cards_col .b-wr p, .main .conversion-rate .cards_col .b-wr span {
    margin: 15px auto 0 auto;
    width: 85%;
  }
  .main .conversion-rate .cards_col .b-wr span {
    text-align: center;
  }
  .main .seo-marketing {
    margin-bottom: 0px;
  }
  .main .seo-marketing .text_col h2 {
    font-size: 3.438rem;
  }
  .main .seo-marketing .text_col p {
    margin-top: 30px;
  }
  .main .seo-marketing .text_col .btn_main-content {
    margin-bottom: 100px;
  }
  .main .how-seo-work {
    margin-bottom: 60px;
  }
  .main .how-seo-work .row_content .business-strategy p, .main .how-seo-work .row_content .keyword-analysis p, .main .how-seo-work .row_content .optimization p {
    font-size: 1.25rem;
    margin-top: 20px;
  }
  .main .marketing-team {
    margin: 0 auto 100px;
    max-width: 1160px;
  }
  .main .marketing-team .col_1 {
    margin: 0;
  }
  .main .marketing-team .col_3 .block_top, .main .marketing-team .col_3 .block_bottom {
    margin-left: 0;
  }
  .main .pricing-plans {
    padding-top: 60px;
    margin-bottom: 100px;
  }
  .main .pricing-plans .plans {
    justify-content: center;
    gap: 50px;
  }
  .main .client-review {
    margin-bottom: 100px;
  }
  .main .client-review p {
    max-width: 55%;
    margin: 0 auto;
  }
  .main .client-review .carousel-control-next {
    margin-right: 350px;
  }
  .main .client-review .carousel-control-prev {
    margin-left: 350px;
  }
  .main .companies {
    margin-bottom: 100px;
    margin: 0 auto;
  }
  .main .news-case-studies .btn_main-content {
    margin-bottom: 60px;
  }
  .main .news-case-studies .row {
    justify-content: center;
  }
  .main .news-case-studies span {
    font-size: 1rem;
  }
  .main .get-in-touch {
    padding-top: 60px;
  }
  .main .get-in-touch .contacts-wr .git-contacts {
    justify-content: center;
    gap: 30px;
  }
  .main .enquiry-form {
    padding-top: 80px;
  }
  .main .enquiry-form .form_col {
    padding: 0;
  }
  .main .enquiry-form .form_col h2 {
    text-align: center;
  }
  .main .enquiry-form .form_col p {
    width: 75%;
    margin: 0 auto 26px auto;
    text-align: center;
  }
  .main .enquiry-form .form_col form {
    justify-content: center;
  }
  .main .enquiry-form .form_col form .row {
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 1500px) {
  .main .strategic-seo-marketing {
    padding: 75px 10px 76px 140px;
  }
  .main .strategic-seo-marketing .row_content {
    max-width: 100%;
  }
  .main .conversion-rate .cr-info_col h2 {
    max-width: 97%;
  }
  .main .client-review .carousel-control-next {
    margin-right: 300px;
  }
  .main .client-review .carousel-control-prev {
    margin-left: 300px;
  }
}
@media (max-width: 1399.98px) {
  .nav-wr .b-wr .menu {
    padding-right: 0px;
  }

  .main .strategic-seo-marketing {
    padding: 75px 10px 76px 140px;
  }
  .main .strategic-seo-marketing .row_content {
    gap: 0px;
  }
  .main .seo-marketing-agency .as-content,
.main .building-conversion-strategy .as-content {
    padding: 0 40px 0 40px;
  }
  .main .seo-marketing-agency .as-content .col_content-2 .row,
.main .building-conversion-strategy .as-content .col_content-2 .row {
    margin-left: 30px;
  }
  .main .seo-marketing-agency .as-content .col_content-2 .row .text_col p,
.main .building-conversion-strategy .as-content .col_content-2 .row .text_col p {
    max-width: 100%;
    font-size: 1rem;
  }
  .main .seo-marketing-agency {
    padding: 0 123px 76px 140px;
    margin: 0;
    height: 70px;
  }
  .main .seo-marketing-agency .as-content .col, .main .seo-marketing-agency .as-content .col-xl {
    padding-top: 60px;
  }
  .main .building-conversion-strategy {
    padding-top: 30px;
    margin-bottom: 0;
  }
  .main .building-conversion-strategy .as-content .col_content-1 {
    padding: 0;
  }
  .main .appear-fp .img__resp, .main .reasons-choosing-seo .img__resp {
    max-width: 400px;
  }
  .main .appear-fp .text_col, .main .reasons-choosing-seo .text_col {
    padding: 0;
  }
  .main .appear-fp .text_col p, .main .reasons-choosing-seo .text_col p {
    width: 100%;
    padding-right: 40px;
  }
  .main .appear-fp .text_col .ul-col li, .main .reasons-choosing-seo .text_col .ul-col li {
    padding-left: 0;
  }
  .main .appear-fp {
    gap: 55px;
    margin: 0 123px 0 140px;
    padding: 75.41px 0 0 0;
  }
  .main .appear-fp .text_col p {
    width: 100%;
    padding-right: 40px;
  }
  .main .appear-fp .text_col .ul-col li {
    padding-left: 0;
  }
  .main .reasons-choosing-seo {
    gap: 55px;
    margin: 0 123px 0 140px;
    padding-bottom: 60px;
  }
  .main .reasons-choosing-seo .text_col .stat_col {
    padding: 33px 0 0 0;
  }
  .main .conversion-rate {
    padding: 96px 123px 80px 140px;
    margin-bottom: 60px;
  }
  .main .conversion-rate .cr-info_col {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main .conversion-rate .cr-info_col span {
    max-width: 100%;
  }
  .main .conversion-rate .cr-info_col p {
    margin: 26px 0 25px;
  }
  .main .conversion-rate .cr-info_col .btn {
    margin: 0;
  }
  .main .conversion-rate .cards_col {
    text-align: center;
    width: 600px;
    padding: 0;
  }
  .main .conversion-rate .cards_col .row_content {
    justify-content: center;
  }
  .main .conversion-rate .cards_col .b-wr {
    padding: 35px 0 0 0;
  }
  .main .conversion-rate .cards_col .b-wr .row {
    justify-content: center;
  }
  .main .conversion-rate .cards_col .b-wr p {
    max-width: 80%;
    margin: 0 auto;
  }
  .main .conversion-rate .cards_col .cards-block_1 .b-wr, .main .conversion-rate .cards_col .cards-block_2 .b-wr {
    max-width: 280px;
  }
  .main .our-services {
    margin: 0 123px 30px 140px;
  }
  .main .our-services .b-wr {
    max-height: 110px;
  }
  .main .seo-marketing {
    margin: 0 123px 30px 140px;
  }
  .main .seo-marketing .col-xxl {
    padding: 0;
  }
  .main .seo-marketing .text_col .btn {
    margin: 0;
  }
  .main .seo-marketing .img_col {
    padding-bottom: 40px;
  }
  .main .seo-marketing .img__resp {
    display: flex;
  }
  .main .how-seo-work {
    margin-bottom: 60px;
  }
  .main .how-seo-work .row_content {
    justify-content: center;
  }
  .main .marketing-team {
    margin: 0 auto 70px;
    max-width: 1160px;
  }
  .main .marketing-team .col .block_bottom, .main .marketing-team .col-lg .block_bottom {
    margin-bottom: 0;
  }
  .main .marketing-team .col .col, .main .marketing-team .col-lg .col {
    justify-content: center;
  }
  .main .marketing-team .col_1 {
    margin: 0;
  }
  .main .marketing-team .col_3 .block_top, .main .marketing-team .col_3 .block_bottom {
    margin-left: 10px;
  }
  .main .pricing-plans {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 40px;
  }
  .main .pricing-plans h3 {
    margin-bottom: 20px;
  }
  .main .pricing-plans .plans {
    justify-content: center;
    gap: 20px;
  }
  .main .pricing-plans .plans .row_price {
    padding-left: 50px;
    font-size: 2.5rem;
  }
  .main .pricing-plans .plans .row_type .val {
    max-width: 115px;
  }
  .main .pricing-plans .plans .ul-col {
    padding-bottom: 10px;
  }
  .main .pricing-plans .plans .ul-col li {
    padding-bottom: 15px;
  }
  .main .client-review {
    margin-bottom: 100px;
  }
  .main .client-review p {
    width: 85%;
    margin: 0 auto;
  }
  .main .client-review .carousel-control-next {
    margin-right: 250px;
  }
  .main .client-review .carousel-control-prev {
    margin-left: 250px;
  }
  .main .companies {
    margin-bottom: 60px;
    padding: 0;
  }
  .main .companies .col-sm .col, .main .companies .col-md .col {
    padding: 0;
  }
  .main .companies .col-sm .slack, .main .companies .col-sm .dato_cms, .main .companies .col-sm .oh_tb, .main .companies .col-md .slack, .main .companies .col-md .dato_cms, .main .companies .col-md .oh_tb {
    justify-content: end;
  }
  .main .companies .col-sm .airtable, .main .companies .col-md .airtable {
    justify-content: center;
  }
  .main .companies .col-sm .gravel, .main .companies .col-sm .flick, .main .companies .col-md .gravel, .main .companies .col-md .flick {
    justify-content: start;
  }
  .main .news-case-studies {
    padding: 79px 11.5px 60px 11.5px;
  }
  .main .news-case-studies .row {
    justify-content: center;
  }
  .main .get-in-touch {
    padding-top: 60px;
  }
  .main .get-in-touch .contacts-wr {
    padding: 0;
  }
  .main .get-in-touch .contacts-wr .row {
    justify-content: center;
    gap: 16px;
  }
  .main .enquiry-form {
    padding: 60px 135px 0 140px;
    margin-bottom: 100px;
  }
  .main .enquiry-form h2 {
    text-align: center;
  }
  .main .enquiry-form p {
    width: 60%;
    margin: 0 auto 26px auto;
    text-align: center;
  }
  .main .enquiry-form .img__resp {
    max-width: 350px;
  }
  .main .enquiry-form .form_col {
    padding: 0;
  }
  .main .enquiry-form .form_col form {
    justify-content: center;
  }
  .main .enquiry-form .form_col form .row {
    justify-content: center;
    gap: 10px;
  }

  .footer {
    gap: 30px;
  }
  .footer .contacts {
    padding-bottom: 10px;
    justify-content: center;
    gap: 10px;
  }
  .footer .contacts .nav_col {
    padding-top: 0;
    text-align: center;
  }
  .footer .contacts .seoflow {
    max-width: 220px;
  }
  .footer .contacts .ql ul li {
    padding: 0;
  }
  .footer .contacts .ql, .footer .contacts .services {
    max-width: 150px;
  }
  .footer .contacts .git {
    max-width: 250px;
  }
  .footer .contacts .git ul li {
    padding: 0;
  }
  .footer .contacts .fu {
    max-width: 120px;
  }
  .footer .contacts .fu .row {
    justify-content: center;
  }
  .footer .contacts .fu span {
    width: auto;
    height: 25px;
  }
  .footer .contacts .fu .media {
    width: auto;
    height: 25px;
  }
}
@media (max-width: 1199.98px) {
  header {
    padding: 20px 60px 0 60px;
  }

  .nav-wr {
    padding: 0 60px 0 60px;
  }
  .nav-wr .menu {
    padding: 0 75px 0 75px;
  }
  .nav-wr .nav {
    justify-content: center;
    align-items: center;
  }

  .main .strategic-seo-marketing {
    padding: 0;
  }
  .main .strategic-seo-marketing .text_col {
    display: flex;
    flex-direction: column;
  }
  .main .strategic-seo-marketing .text_col h2 {
    align-items: center;
  }
  .main .strategic-seo-marketing .text_col p {
    margin: 0 auto 25px auto;
    width: 60%;
  }
  .main .strategic-seo-marketing .text_col button {
    margin: 0 auto 30px auto;
    width: 50%;
  }
  .main .strategic-seo-marketing .col {
    max-width: 100%;
  }
  .main .strategic-seo-marketing .img__resp {
    display: none;
  }
  .main .seo-marketing-agency,
.main .building-conversion-strategy {
    padding: 0 60px 0 60px;
  }
  .main .seo-marketing-agency .as-content,
.main .building-conversion-strategy .as-content {
    padding-left: 60px;
    padding-right: 60px;
  }
  .main .seo-marketing-agency .as-content .col_content-2 .row,
.main .building-conversion-strategy .as-content .col_content-2 .row {
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
  }
  .main .seo-marketing-agency .as-content .col_content-2 .row .img__resp,
.main .building-conversion-strategy .as-content .col_content-2 .row .img__resp {
    max-height: initial;
  }
  .main .seo-marketing-agency .as-content .col_content-2 .row .text_col,
.main .building-conversion-strategy .as-content .col_content-2 .row .text_col {
    max-width: 450px;
  }
  .main .seo-marketing-agency .as-content .col_content-2 .row .text_col span,
.main .building-conversion-strategy .as-content .col_content-2 .row .text_col span {
    font-size: 1.5rem;
  }
  .main .seo-marketing-agency .as-content .col_content-2 .row .text_col p,
.main .building-conversion-strategy .as-content .col_content-2 .row .text_col p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.25rem;
    padding-top: 20px;
  }
  .main .seo-marketing-agency .as-content .col, .main .seo-marketing-agency .as-content .col-xl {
    padding-top: 0px;
  }
  .main .seo-marketing-agency .as-content .col_content-1 {
    text-align: center;
    padding: 40px 0 230px 0;
  }
  .main .seo-marketing-agency .as-content .col_content-1 span {
    font-size: 1.5rem;
  }
  .main .building-conversion-strategy {
    padding-top: 0px;
  }
  .main .building-conversion-strategy h2 {
    text-align: center;
  }
  .main .building-conversion-strategy p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.25rem;
  }
  .main .building-conversion-strategy .as-content {
    padding-bottom: 40px;
  }
  .main .building-conversion-strategy .as-content .col_content-2 {
    padding-top: 210px;
  }
  .main .appear-fp .text_col, .main .reasons-choosing-seo .text_col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .appear-fp .text_col p, .main .reasons-choosing-seo .text_col p {
    width: 55%;
    padding: 0px;
    font-size: 1.25rem;
  }
  .main .appear-fp {
    gap: 55px;
    margin: 0 60px 0 60px;
    padding-top: 40px;
  }
  .main .appear-fp .img__resp {
    display: none;
  }
  .main .appear-fp .text_col .row {
    text-align: center;
    gap: 5px;
  }
  .main .appear-fp .text_col .row ul li {
    font-size: 1.25rem;
  }
  .main .appear-fp .check_col {
    height: 154px;
  }
  .main .reasons-choosing-seo {
    margin: 0 60px 40px 60px;
    padding-left: 0;
  }
  .main .reasons-choosing-seo .text_col .stat_col {
    width: 100%;
    justify-content: center;
  }
  .main .reasons-choosing-seo .text_col .stat_col .conversion .col {
    padding: 0;
    margin: 0 20px 0 0;
  }
  .main .reasons-choosing-seo .img__resp {
    display: none;
  }
  .main .conversion-rate {
    padding: 50px 60px 50px 60px;
    margin-bottom: 30px;
    justify-content: center;
  }
  .main .conversion-rate .cr-info_col {
    padding-bottom: 40px;
    max-width: 489px;
    align-items: center;
  }
  .main .conversion-rate .cr-info_col p {
    width: 80%;
    margin: 26px auto 26px;
  }
  .main .our-services {
    margin: 0 60px 0px 60px;
  }
  .main .our-services .row {
    justify-content: center;
  }
  .main .our-services .row .col-xl {
    max-width: 270px;
  }
  .main .our-services .row .b-wr {
    width: 167px;
    margin: 0 auto;
  }
  .main .seo-marketing {
    margin: 0 60px 30px 60px;
  }
  .main .seo-marketing .text_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 0 0;
  }
  .main .seo-marketing .text_col p {
    width: 55%;
  }
  .main .seo-marketing .img__resp {
    display: none;
  }
  .main .how-seo-work {
    padding: 40px 60px 60px 60px;
    margin-bottom: 30px;
  }
  .main .how-seo-work .row_content {
    padding: 0;
  }
  .main .marketing-team {
    padding: 0 60px 0 60px;
  }
  .main .pricing-plans {
    padding: 60px;
  }
  .main .client-review {
    padding: 0 60px 0 60px;
  }
  .main .client-review p {
    width: 80%;
  }
  .main .client-review .carousel-control-next {
    margin-right: 200px;
  }
  .main .client-review .carousel-control-prev {
    margin-left: 200px;
  }
  .main .companies {
    margin: 0 60px 60px 60px;
  }
  .main .news-case-studies {
    padding: 60px 30px 40px 30px;
  }
  .main .news-case-studies .content {
    margin-bottom: 30px;
  }
  .main .get-in-touch .contacts-wr {
    padding: 0 30.5px 0 30.5px;
  }
  .main .enquiry-form {
    padding: 60px 60px 0 60px;
  }
  .main .enquiry-form .img__resp {
    max-width: 300px;
  }
  .main .enquiry-form p {
    width: 70%;
  }

  .footer {
    padding: 0 60px 10px 60px;
  }
  .footer .contacts {
    gap: 5px;
  }
  .footer .contacts .seoflow, .footer .contacts .git {
    max-width: 200px;
  }
  .footer .contacts .ql, .footer .contacts .services {
    max-width: 140px;
  }
  .footer .footer-bottom {
    justify-content: center;
  }
  .footer .footer-bottom .info_col {
    justify-content: center;
  }
}
@media (max-width: 991.98px) {
  .header {
    padding: 20px 20px 0 20px;
  }

  .nav-wr {
    padding: 0 20px 0 20px;
  }
  .nav-wr .menu {
    padding: 0 0px 0 0px;
  }
  .nav-wr .nav {
    justify-content: center;
    align-items: center;
  }
  .nav-wr .b-wr .btn_main-content {
    width: 80px;
  }

  .main .strategic-seo-marketing h2 {
    display: initial;
    text-align: center;
    margin: 30px auto 41px auto;
  }
  .main .strategic-seo-marketing p {
    margin: 0 auto 25px auto;
    width: 65%;
  }
  .main .seo-marketing-agency,
.main .building-conversion-strategy {
    padding: 0 20px 0 20px;
  }
  .main .seo-marketing-agency .as-content,
.main .building-conversion-strategy .as-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main .building-conversion-strategy p {
    width: 85%;
  }
  .main .building-conversion-strategy .as-content .col_content-2 {
    padding-top: 210px;
  }
  .main .appear-fp, .main .reasons-choosing-seo {
    margin: 0 20px 0 20px;
  }
  .main .appear-fp .text_col p, .main .reasons-choosing-seo .text_col p {
    margin: 0 auto 20px auto;
    width: 70%;
  }
  .main .conversion-rate {
    padding: 20px 20px 30px 20px;
  }
  .main .our-services {
    margin: 0 20px 30px 20px;
  }
  .main .our-services .row .col-xl {
    max-width: 235px;
  }
  .main .seo-marketing {
    margin: 0 20px 30px 20px;
  }
  .main .how-seo-work {
    padding: 40px 20px 40px 20px;
  }
  .main .how-seo-work h3 {
    line-height: initial;
  }
  .main .marketing-team {
    padding: 0 20px 0 20px;
  }
  .main .marketing-team .team {
    gap: 15px;
  }
  .main .marketing-team .col_1 .block_top, .main .marketing-team .col_2 .block_top, .main .marketing-team .col_3 .block_top {
    margin-bottom: 10px;
  }
  .main .marketing-team .col_1 .block_top, .main .marketing-team .col_1 .block_bottom {
    justify-content: flex-end;
  }
  .main .marketing-team .col_2 .block_top, .main .marketing-team .col_2 .block_bottom {
    justify-content: flex-start;
  }
  .main .pricing-plans {
    padding: 60px 20px 60px 20px;
  }
  .main .pricing-plans .col-xl {
    max-width: 345.5px;
  }
  .main .client-review {
    padding: 0 20px 0 20px;
  }
  .main .client-review .carousel-control-next {
    margin-right: 100px;
  }
  .main .client-review .carousel-control-prev {
    margin-left: 100px;
  }
  .main .companies {
    margin: 0px 20px 60px 20px;
  }
  .main .news-case-studies .col-lg {
    max-width: 337.5px;
  }
  .main .get-in-touch .contacts-wr .git-contacts .col-lg {
    max-width: 330px;
  }
  .main .enquiry-form {
    padding: 320px 20px 0 20px;
  }
  .main .enquiry-form .img__resp {
    display: none;
  }
  .main .enquiry-form p {
    width: 70%;
  }
  .main .enquiry-form .form_col form .col-sm, .main .enquiry-form .form_col form input {
    font-size: 1rem;
  }
  .main .enquiry-form .form_col form textarea {
    max-width: 350px;
  }

  .footer {
    padding: 0 20px 10px 20px;
  }
  .footer .contacts {
    padding-bottom: 10px;
    justify-content: center;
    gap: 10px;
  }
  .footer .contacts .nav_col {
    padding-top: 0;
  }
  .footer .contacts .seoflow {
    max-width: 220px;
  }
  .footer .contacts .ql, .footer .contacts .services {
    max-width: 150px;
  }
  .footer .contacts .git {
    max-width: 240px;
  }
  .footer .contacts .git ul li {
    padding: 0;
  }
  .footer .contacts .git ul p:nth-child(2) {
    padding: 0 0 30px 0;
  }
  .footer .contacts .fu {
    max-width: 135px;
  }
}
@media (max-width: 767.98px) {
  .nav-wr .b-wr .header-logo {
    max-width: 80px;
  }

  .main .strategic-seo-marketing h2 {
    font-size: 3rem;
  }
  .main .strategic-seo-marketing p {
    margin: 0 auto 25px auto;
    width: 75%;
  }
  .main .seo-marketing-agency .as-content .col_content-2 .row .text_col,
.main .building-conversion-strategy .as-content .col_content-2 .row .text_col {
    max-width: 350px;
  }
  .main .seo-marketing-agency .as-content .col_content-2 .row .text_col p,
.main .building-conversion-strategy .as-content .col_content-2 .row .text_col p {
    width: 85%;
  }
  .main .seo-marketing-agency .as-content .col_content-1 {
    padding: 40px 0 290px 0;
  }
  .main .building-conversion-strategy .as-content .col_content-1 h2 {
    width: 75%;
    margin: 0 auto;
    line-height: initial;
    padding: 20px 0 15px 0;
  }
  .main .building-conversion-strategy .as-content .col_content-1 p {
    width: 90%;
  }
  .main .building-conversion-strategy .as-content .col_content-2 {
    padding-top: 230px;
  }
  .main .appear-fp h2, .main .reasons-choosing-seo h2 {
    text-align: center;
  }
  .main .appear-fp .text_col p, .main .reasons-choosing-seo .text_col p {
    width: 75%;
  }
  .main .conversion-rate .cards_col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: auto;
  }
  .main .conversion-rate .cards_col .row_content {
    gap: 15px;
  }
  .main .conversion-rate .cards_col .row_content .col-md {
    max-width: 350px;
  }
  .main .conversion-rate .cards_col .br__m {
    margin: 0;
  }
  .main .our-services {
    margin: 0 5px 30px 5px;
  }
  .main .our-services .row .col-xl {
    max-width: 170px;
  }
  .main .seo-marketing .text_col p {
    width: 70%;
  }
  .main .how-seo-work .row {
    gap: 20px;
  }
  .main .how-seo-work h3 {
    margin-bottom: 30px;
  }
  .main .marketing-team h3 {
    margin: 10px 0 40px 0;
  }
  .main .marketing-team .row .col_1 .block_top, .main .marketing-team .row .col_1 .block_bottom, .main .marketing-team .row .col_2 .block_top, .main .marketing-team .row .col_2 .block_bottom {
    justify-content: center;
  }
  .main .marketing-team .row .col_3 .block_top, .main .marketing-team .row .col_3 .block_bottom {
    margin-left: 20px;
  }
  .main .pricing-plans {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main .pricing-plans .col-xl {
    padding: 15px 38px 15px 30px;
  }
  .main .pricing-plans .col-xl .row_type {
    margin-bottom: 15px;
  }
  .main .pricing-plans .col-xl .ul-col {
    padding: 0;
  }
  .main .client-review p {
    width: 85%;
    font-size: 1.125rem;
  }
  .main .client-review .carousel-control-next, .main .client-review .carousel-control-prev {
    margin: 0;
  }
  .main .companies {
    justify-content: center;
    gap: 20px;
  }
  .main .companies .col-sm, .main .companies .col_3 {
    max-width: 270px;
  }
  .main .companies .col_2 {
    max-width: 210px;
  }
  .main .companies .col_3 .gravel {
    justify-content: end;
  }
  .main .companies .col_3 .flick {
    justify-content: center;
  }
  .main .news-case-studies img {
    width: 450px;
  }
  .main .news-case-studies .content .col-lg, .main .news-case-studies .content .col, .main .news-case-studies .content .row {
    max-width: 450px;
  }
  .main .get-in-touch .contacts-wr .git-contacts .col-lg {
    max-width: 450px;
  }
  .main .enquiry-form {
    padding: 550px 15px 0 15px;
    margin-bottom: 50px;
  }
  .main .enquiry-form .img__resp {
    display: none;
  }
  .main .enquiry-form p {
    width: 73%;
  }
  .main .enquiry-form .form_col form .row {
    padding: 0 50px 0 50px;
  }
  .main .enquiry-form .form_col form .col-sm, .main .enquiry-form .form_col form input {
    max-width: 209px;
    font-size: 1rem;
  }

  .footer .contacts .seoflow {
    max-width: 190px;
  }
  .footer .contacts .fu {
    max-width: 110px;
  }
  .footer .fb_nav {
    justify-content: center;
  }
}
@media (max-width: 575.98px) {
  .header-wr .header {
    padding-bottom: 110px;
  }
  .header-wr .header .row_content {
    justify-content: center;
    gap: 10px;
  }
  .header-wr .header .contacts {
    justify-content: center;
  }
  .header-wr .header .contacts .row {
    flex-direction: column;
    gap: 10px;
  }
  .header-wr .nav-wr .b-wr .header-logo {
    min-width: 90px;
  }
  .header-wr .nav-wr .b-wr .menu-block {
    display: flex;
    width: auto;
    height: auto;
    text-align: center;
  }
  .header-wr .nav-wr .b-wr .menu-block .menu {
    display: initial;
    padding: 0px 50px 0 50px;
    border: 1px solid #000;
    background-color: #000;
    color: #F4AB00;
    user-select: none;
  }
  .header-wr .nav-wr .b-wr .menu-block .menu .fa-bars {
    padding-left: 10px;
  }
  .header-wr .nav-wr .b-wr .menu-block .nav {
    padding-top: 33px;
    display: none;
  }
  .header-wr .nav-wr .b-wr .menu-block:hover .menu {
    color: #fff;
  }
  .header-wr .nav-wr .b-wr .menu-block:hover .nav {
    display: flex;
    flex-direction: column;
    position: absolute;
  }
  .header-wr .nav-wr .b-wr .menu-block:hover .nav li {
    width: 188px;
  }
  .header-wr .btn_main-content {
    max-width: 80px;
  }

  .main .strategic-seo-marketing .text_col h2 {
    font-size: 2.55rem;
  }
  .main .strategic-seo-marketing .text_col p {
    width: 85%;
    font-size: 1rem;
  }
  .main .strategic-seo-marketing .text_col .btn_main-content {
    width: 140px;
  }
  .main .seo-marketing-agency .as-content .img__resp,
.main .seo-marketing-agency .as-content .img__resp, .main .building-conversion-strategy .as-content .img__resp {
    display: none;
  }
  .main .seo-marketing-agency .as-content .col_content-1 p, .main .seo-marketing-agency .as-content .col_content-2 .row .text_col p,
.main .seo-marketing-agency .as-content .col_content-1 p,
.main .seo-marketing-agency .as-content .col_content-2 .row .text_col p, .main .building-conversion-strategy .as-content .col_content-1 p, .main .building-conversion-strategy .as-content .col_content-2 .row .text_col p {
    font-size: 1rem;
  }
  .main .seo-marketing-agency .as-content .col, .main .seo-marketing-agency .as-content .col-xl {
    padding-top: 0;
  }
  .main .seo-marketing-agency .as-content .col_content-1 {
    padding: 40px 70px 280px 70px;
  }
  .main .building-conversion-strategy .as-content .col_content-1 h2 {
    padding-top: 45px;
  }
  .main .building-conversion-strategy .as-content .col_content-1 p {
    width: 95%;
  }
  .main .building-conversion-strategy .as-content .col_content-2 {
    padding-top: 160px;
  }
  .main .appear-fp .text_col p, .main .reasons-choosing-seo .text_col p {
    font-size: 1rem;
    width: 85%;
  }
  .main .reasons-choosing-seo .text_col .stat_col {
    gap: 20px;
  }
  .main .reasons-choosing-seo .text_col .stat_col .row {
    max-width: 250px;
    text-align: center;
  }
  .main .reasons-choosing-seo .text_col .stat_col .row .col {
    margin: 0;
  }
  .main .conversion-rate .cr-info_col h2 {
    text-align: center;
  }
  .main .conversion-rate .cr-info_col p {
    width: 90%;
    font-size: 1rem;
  }
  .main .our-services {
    margin: 0 10px 30px 10px;
  }
  .main .our-services .row {
    gap: 2px;
  }
  .main .our-services .row .col-xl {
    max-width: 140px;
  }
  .main .our-services .row .b-wr {
    padding: 24px 0px 29px 0;
    width: 140px;
  }
  .main .seo-marketing .text_col p {
    max-width: 95%;
    width: 95%;
    font-size: 1rem;
  }
  .main .client-review p {
    font-size: 1rem;
    width: 95%;
  }
  .main .companies .col-sm, .main .companies .col-md {
    gap: 20px;
  }
  .main .companies .col_2 {
    max-width: 270px;
  }
  .main .get-in-touch h3 {
    width: 90%;
    margin: 0 auto 55px;
  }
  .main .enquiry-form .img__resp {
    display: none;
  }
  .main .enquiry-form p {
    width: 90%;
  }
  .main .enquiry-form .form_col form {
    gap: 15px;
  }
  .main .enquiry-form .form_col form .row {
    padding: 0;
  }
  .main .enquiry-form .form_col form .col, .main .enquiry-form .form_col form .col-sm, .main .enquiry-form .form_col form input {
    max-width: 260px;
  }

  .footer .contacts .nav_col span {
    font-size: 1.5rem;
  }
  .footer .contacts .seoflow {
    text-align: center;
  }
  .footer .contacts .seoflow p {
    margin: 0;
  }
  .footer .footer-bottom .nav {
    gap: 0;
    flex-direction: column;
  }
  .footer .footer-bottom .nav .info-links {
    justify-content: center;
  }
}
@media (max-width: 466px) {
  .nav-wr .b-wr {
    justify-content: center;
    gap: 10px;
    padding-top: 5px;
  }
  .nav-wr .b-wr .header-logo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nav-wr .b-wr .menu-block {
    order: 3;
  }
  .nav-wr .b-wr .btn_main-content {
    max-width: 80px;
  }

  .main .strategic-seo-marketing .text_col h2 {
    font-size: 2rem;
    margin-bottom: 25px;
    line-height: initial;
  }
  .main .seo-marketing-agency .as-content .col_content-2 .row .text_col p,
.main .building-conversion-strategy .as-content .col_content-2 .row .text_col p {
    line-height: initial;
    text-align: start;
    width: 100%;
  }
  .main .seo-marketing-agency .as-content .col_content-1 {
    padding: 40px 0 260px 0;
  }
  .main .building-conversion-strategy .as-content .col_content-1 h2 {
    padding-top: 45px;
    width: 100%;
  }
  .main .building-conversion-strategy .as-content .col_content-1 p {
    line-height: initial;
    max-width: 100%;
    width: 100%;
  }
  .main .building-conversion-strategy .as-content .col_content-2 {
    padding-top: 140px;
  }
  .main .enquiry-form {
    padding-top: 590px;
  }
  .main .enquiry-form p {
    width: 100%;
    font-size: 0.938rem;
  }
}
@media (max-width: 364px) {
  .main .seo-marketing-agency .as-content .col_content-1 {
    padding: 40px 0 280px 0;
  }
  .main .marketing-team .row .col_3 .block_top, .main .marketing-team .row .col_3 .block_bottom {
    margin-left: 10px;
  }
  .main .enquiry-form {
    padding-top: 620px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    width: 310px;
  }
}

/*# sourceMappingURL=jk_media.css.map */
