@font-face {
  font-display: swap;
  font-family: "Roboto Regular";
  text-rendering: optimizeLegibility;
  src: local("RobotoRegular"), url(/webfonts/RobotoRegular.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Lato Regular";
  text-rendering: optimizeLegibility;
  src: local("LatoRegular"), url(/webfonts/LatoRegular.woff) format("woff");
}
// Global selectors styles
html {scroll-behavior: smooth;}
h1, h2, h3, p, a, ul, li, span, button, blockquote, input, textarea, address {
  font-family: "Roboto Regular";
  font-weight: 400;
  margin: 0;
}
h1 {
  color: #011F3A;
  font-size: 3rem;
  height: 168px;
  line-height: 56px;
  margin-bottom: 33px;
}
a {text-decoration: none;}
button {
  border: none; 
  cursor: pointer; 
}
img {user-select: none;}
ul {
  list-style: none;
  padding: 0;
}
q {
  font-family: "Lato Regular";
  font-weight: 400;
}
address {font-style: normal;}