// Import mixins, variables
@import 'mixins_var.scss';
// Layout classes
.wrapper {
  margin: 0 auto;
  max-width: 1920px;
}
.l-header {
  @include flexb();
  height: 42px;
  padding: 19px 13px 0px 24px;
  a { // Common classes nav
    height: 44px; 
    font-size: 0.875rem; 
    line-height: 18px;
    letter-spacing: 1.96px; 
  }
  .header-menu, .user-block {height: 20px;} // Common classes
  .header-menu {
    width: 706.91px; 
    display: flex;
    .nav {display: flex;}
    .nav ul {
      display: flex;
      gap: 52px;
      width: 706.91px; 
      height: 42px;
      padding-left: 27px;
      .syd {
        padding-top: 2px;
        a {text-decoration: underline;}
        svg {margin-right: 13px;}
      }
      .allprod,  .inspiration, .about {padding-top: 3px;} // Common classes
    }
  }
  .user-block {
    width: 156.73px;
    display: flex;
    a {height: auto;}
    .profile {padding: 5px 30px 0;}
  }
}
.l-main {
  .l-custom-box-title {
    @include flexb();
    padding: 87px 0 98px 120px;
    &-content {
      padding-top: 77px;
      width: 500px;
      height: 339px;
      p {
        color: #011F3A;  
        font-size: 0.938rem;
        line-height: 24px;
        max-width: 64%;
        margin-bottom: 15px;
      }
      .button-block {
        display: flex;
        button {
          width: 228px;
          height: 56px;
        }
      }
     
    }
    &-img {
      display: flex;
      img {height: auto;}
    }
  }
  .l-specifications {
    padding: 20px 105px 20px 120px;
    &-content {
      @include flexb();
      & > div {display: flex;}
      span {
        font-size: 0.938rem; 
        line-height: 19px; 
        letter-spacing: 0.6px;
        padding: 21px 0;
        max-width: 45%;
      }
      .shopify {
        gap: 16px;
        span {max-width: 45%;}
      }
      .amazon span {padding-left: 20px;}
      .eco div {
        @include flexcolumn();
        width: 67px; 
        height: 38px; 
        padding: 21px 0 0 13px;
        span {max-width: 100%; padding: 0;}
      }
    }
  }
  .l-customize-products {
    @include flexcolumn();
    padding: 57px 103px 49.69px 120px;
    &-title {
      @include flexb();
      padding-bottom: 57px;
      h2 {font-size: 2rem; line-height: 38px;}
      .btn-main {width: 247px; height: 44px;}
    }
    &-catalog {
      display: flex;
      padding-bottom: 46px;
      .products-column {
        @include flexcolumn();
        .product {
          width: 400px; 
          height: 432px;
          a {
            @include flexcolumn(); 
            gap: 26px;
          }
          &-img {
            width: 398px; 
            height: 302px; 
            img {height: auto}
          }
          &-desc {
            @include flexcolumn();
            gap: 8px;
            padding: 0 15px 4px 25px;
            .p-name {
              font-size: 1.125rem; 
              line-height: 21px;
              letter-spacing: 0.36px;
            }
            p {max-width: 55%;}
            &-content {
              display: flex; gap: 80px;
              p {font-size: 0.938rem; line-height: 24px;}
              .price {
                @include flexcolumn(); 
                span {font-size: 0.938rem; line-height: 24px;}
              }
            }
          }
        }
        .cpm .product-desc p {max-width: 60%;}
      }
    }
    &-shock-items {
      @include flexb();
      width: 385.61px; 
      height: 44px;
      margin: 0 auto;
      span {font-size: 0.938rem; padding-top: 12px;}
      .btn-main {width: 158px; height: 44px;}
    }
  }
  .l-steps-products {
    padding: 70px 103px 70px 120px;
    &-content {
      padding: 88px 50px;
      text-align: center;
      h2 {
        font-size: 2rem; 
        line-height: 41px; 
        margin-bottom: 46.31px;
      }
      .steps-products {
        @include flexb();
        padding-bottom: 75.69px;
        .sp {
          width: 300px; 
          height: 391px;
          @include flexcolumn();
          text-align: center;
          span {
            padding: 12px 0 10px;
            font-size: 1.125rem;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.36px;
          }
          p {
            max-width: 63%; 
            margin: 0 auto;
            font-size: 0.938rem; 
            line-height: 23px;
          }
        }
      }
      .btn-main {
        width: 220px;
        height: 44px;
        margin-bottom: 88px;
      }
    }
  }
  .l-arka-advantage {
    padding: 0 145px 141.69px 162px;
    h2 {
      font-size: 2rem; 
      line-height: 41px; 
      font-weight: 700;
      margin-bottom: 82.31px;
    }
    &-content {
      @include flexb();
      .advantage-column {
        width: 254px; 
        height: 413px;
        @include flexcolumn();
        &-desc {
          margin-top: 54px;
          span {
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 23px;
            letter-spacing: 0.56px;
          }
          p {
            font-size: 0.938rem;
            line-height: 24px;
            margin-top: 12px;
          }
        }
      }
      .ac-2 p {max-width: 97%;}
    }
  }
  .l-faq-block {
    padding: 60px 103px 60px 120px;
    &-content {
      display: flex;
      .faq-article {
        align-items: center;
        @include flexcolumn();
        text-align: center;
        width: 600px; 
        height: 410px;
        padding: 110px 120px 90px;
        h2 {
          font-size: 1.5rem; 
          font-weight: 700;
          line-height: 36px;
          margin: 24px 0 14px; 
        }
        p {
          font-size: 0.938rem; 
          line-height: 24px;
          margin-bottom: 10px;
          width: 95%;
          max-inline-size: 400px;
        }
        button {
          width: 204px;
          height: 44px;
        }
      }
      .faq-line {padding-top: 110.31px;}
      .faq-2 button {width: 196px; height: 44px;}
    }
  }
  .l-reviews {
    padding: 88px 103px 57px 120px;
    h2 {
      font-size: 2rem; 
      font-weight: 700;
      line-height: 38px;
      margin: 0 auto 59px;
      text-align: center;
    }
    &-content {
      box-shadow: $box-shadow;
      .companies-reviews { // Companies block
        height: 314px;
        justify-content: space-evenly;
        gap: 175px;
        .cb {height: 114px;}
      }

      .companies-reviews, .reviews-section { // Common classes flex
        align-items: center;
        display: flex; 
      }

      .reviews-section { // Common classes
        .img__resp-block {justify-content: center;}
        .reviews-block {
          width: 588px;
          height: 294px;
          display: flex;
        }
        .rbt-content {
          padding: 63.69px 106px 62.5px;
          @include flexcolumn(); 
          gap: 13px;
          p {
            font-size: 1.5rem; 
            line-height: 32px;
          }
          .about-reviewer {
            display: flex; gap: 45px;
            .reviewer {
              display: flex; gap: 17px;
              &-info {
                @include flexcolumn(); 
                gap: 5px;
                padding-top: 5.19px;
                .r-name {
                  font-size: 1.125rem;
                  line-height: 22px;
                }
                .r-desc {
                  font-size: 0.938rem;
                  line-height: 24px;
                }
              }
            }
            a {
             font-size: 0.875rem;
             line-height: 18px;
             letter-spacing: 1.96px;
             padding-top: 22px;
            }
          }
        }
      }
      .js, .ls {margin-bottom: 55px;} // Jessie and Leslie review section 
      .ls, .as { // Common classes gap reviewer
        .rbt-content .about-reviewer .reviewer {
          gap: 20px;
        }
      }
      .ls {
        gap: 24px;
        .rbt-content {
          padding: 63.69px 95px 62.5px 106px;
          .about-reviewer {
            gap: 0; gap: 94px;
          }
        }
      }
      .as .rbt-content .about-reviewer {gap: 85px;}
    }
  }
  .l-start-design {
    align-items: center;
    @include flexcolumn();
    justify-content: center;
    padding: 120px 9px 136.6px 18px;
    gap: 55.31px;
    h2 {
      font-size: 1.938rem; 
      font-weight: 700;
      line-height: 36px;
      padding-left: 6px;
    }
    .button-blocks {
      display: flex; gap: 13px;
      .syd {width: 220px; height: 44px;}
      .bap {width: 247px; height: 44px;}
    }
  }
}
.l-footer {
  &-contacts {
    display: flex; 
    gap: 91.75px;
    padding: 60px 103px 59.69px 120px;
    .contacts-block {
      height: 245px; 
      gap: 17px;
      @include flexcolumn();
      li, span, input {
        font-size: 0.938rem; 
        line-height: 18px;
      }
      .social-links {
        display: flex; gap: 11px;
        a {height: 24px;}
      }
    }
    .custom-design {
      width: 164px;
    }
    .about-us {
      width: 134px;
    }
    .shopify-app {
      width: 170px;
    }
    .email {
      width: 280px; gap: 13px;
      form {
        @include flexcolumn(); gap: 13px;
        input {
          border-radius: 25px;
          height: 30px;
          padding: 3px 0 0 24px;
          width: 255px;
        }
        button {
          border-radius: 30px;
          font-size: 1.125rem;
          font-weight: 700;
          height: 44px;
          line-height: 21px;
          width: 187px; 
        }
      }
    }
  }
  .l-author {
    align-items: center;
    @include flexcolumn();
    gap: 5px;
    padding-bottom: 32px;
    strong {font-weight: 700;}
  }
}