// Import mixins
@import "lib/breakpoints";
// Media main
@media (min-width: 2099px) {
  #scroll_top {
    width: 300px; 
    height: 200px; 
  }
}
@media (min-width: 1921px) {
  #scroll_top {
    min-width: 80px; 
    min-height: 80px;
    max-width: 100px; 
    max-height: 100px;
  }
  .l-footer {
    align-items: center;
    flex-direction: column; 
    gap: 10px;
    justify-content: center; 
  }
}
@media (min-width: 1500px) {
  .l-header, .l-footer {justify-content: center;}
  .l-header .header-menu .nav ul {
    justify-content: center;
  }
  .l-main {
    .l-custom-box-title-content p {
      font-size: 1.2rem; 
      max-width: 80%;
      margin-bottom: 25px;
    }

    .l-custom-box-title,
    .l-specifications-content,
    .l-customize-products-title { // Gap 60px + center
      gap: 60px;
      justify-content: center; 
    }
    
    .l-customize-products-shock-items span { // Font size span
      font-size: 1rem; 
    }
    .l-customize-products-catalog,
    .l-faq-block-content {justify-content: center;} // Only center

    .l-steps-products-content .steps-products .sp, 
    .l-customize-products-catalog .products-column .product-desc-content,
    .l-arka-advantage-content .advantage-column-desc { // Font size p common classes
      p { 
        font-size: 1.2rem;
      }
    }
    .l-steps-products-content .steps-products, // Gap 160px + center
    .l-arka-advantage-content {
      gap: 160px;
      justify-content: center; 
    }
    .l-arka-advantage h2 {text-align: center;}

    .l-faq-block-content .faq-article {
      height: auto;
      p {
        font-size: 1.2rem;
        margin-bottom: 20px;
      }
    }
    .l-reviews-content {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
  .l-footer-contacts {
    justify-content: center;
   .contacts-block { // Font-size
    li {font-size: 1rem;}
    a, span {font-size: 1.2rem;}
   }
  }
}
@include media-breakpoint-down(xxl)  { // 1400px
  .l-main {
   .l-customize-products-catalog {
      .products-column .product {
        width: auto; 
        &-img {display: flex; width: auto;}
        &-desc {
          p {max-width: 64%;}
          &-content {
            display: flex;
            gap: 10px;
          }
        }
      }
    }
   .l-faq-block-content .faq-article {
      padding: 110px 0 90px;
      p {max-width: 55%;}
    }
    .l-reviews-content {
      .reviews-section {
        .rbt-content, .ls {
          padding: 63.69px 40px 62.5px;
        }
    }
      .ls {gap: 0;}
    }
  }
  .l-footer-contacts {
    justify-content: space-between; 
    gap: 0;
  }
}
@include media-breakpoint-down(xl) { // 1200px
  .l-header .user-block .profile {
    padding: 3px 20px 20px 30px;
  }
  .l-main {
    .l-customize-products {
      padding: 57px 80px 49.69px;
      gap: 30px;
      &-catalog .products-column {
        .product-desc {
          padding: 0;
          &-content {
            flex-direction: column; 
            gap: 0;
          }
        }
        .cpm .product-desc p {max-width: 100%;}
      }
    }
    .l-steps-products {
      padding: 70px 80px 0;
      &-content {padding: 88px 0;}
    }
    .l-arka-advantage {
      padding: 0 80px 141.69px;
    }
    .l-faq-block {
      padding: 60px 80px;
      &-content .faq-article {height: auto;}
    }
    .l-reviews {
      padding: 88px 80px 57px;
      &-content  {
        .companies-reviews {gap: 0;}
        .reviews-section .rbt-content .about-reviewer {
          gap: 10px; 
          justify-content: space-between;
        }
      }
    }
  }
  .l-footer-contacts {
    padding: 60px 30px 59.69px;
    flex-wrap: wrap;
  }
}
@include media-breakpoint-down(lg)  { // 992px
  .l-header {
    .header-menu {
      width: 480px;
      .nav ul {
        gap: 10px;
        padding-left: 20px;
        width: 480px;
        a {letter-spacing: 1.36px;}
        .syd svg {margin: 0;}
      }
    }
    .user-block .profile {
      padding: 5px 20px 0 30px;
    }
  }
  .l-main {
    .l-custom-box-title  {
      padding: 40px 0 40px 0;
      justify-content: center;
      &-content {
        padding: 0;
        h1 {
          font-size: 2.5rem;
          max-inline-size: 400px;
        }
        p {
          font-size: 1.5rem; 
          max-width: 100%;
          margin-bottom: 25px;
        }
        .button-block {justify-content: center;}
      }
      &-img {display: none;}
    }
    .l-specifications-content {
      justify-content: center; 
      gap: 20px;
    }
    .l-customize-products {
      padding: 57px 40px 49.69px;
      gap: 0;
      &-title {
        align-items: center; 
        flex-direction: column;
        gap: 20px;
        padding-bottom: 40px;
        h2 {text-align: center;}
      }
      &-catalog {
        flex-wrap: wrap;
        justify-content: center;
        .products-column {
          flex-direction: row;
          max-inline-size: 796px;
          .product {
            height: auto; 
            gap: 0;
            &-img {height: auto;}
          }
        }
      }
    }
    .l-steps-products {
      padding: 70px 40px 0;
      &-content {
        padding: 0;
        h2 {margin: 0 auto; max-width: 70%; }
        .steps-products {
          justify-content: center;
          .sp {height: auto; width: 275px;}
        }
      }
    }
    .l-arka-advantage {
      padding: 0 40px 141.69px;
      h2 {text-align: center;}
      &-content {
        gap: 10px;
        .advantage-column {
          height: auto;
          &-desc {margin: 0;}
          p {max-width: 100%;}
        }
      }
    }
    .l-faq-block {
      padding: 60px 0;
      &-content .faq-article {height: auto;}
    }
    .l-reviews {
      padding: 88px 0 57px;
      &-content {
        box-shadow: none;
        .reviews-section {
          .rbt-content, .ls {
            padding: 63.69px 30px 62.5px;
          }
        }
      }
    }
  }
  .l-footer-contacts {
    justify-content: center;
    gap: 15px;
    padding: 60px 0 40px;
    .contacts-block {
      flex-direction: column;
      gap: 17px;
      padding-left: 36px;
      height: auto;
    }
    .email {
      width: 334px;
      height: 150px;
      span {text-align: center;}
      form {align-items: center;
        input {height: 40px;}
      }
    }
  }
}
@include media-breakpoint-down(md)  { // 768px
  .l-header {
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 19px 0 0;
    .header-menu {
      height: auto;
      .nav ul {
        height: auto;
        padding-top: 15px; 
        padding-left: 0;
      }
    }
    .user-block {
      height: auto;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  .l-main {
    .l-custom-box-title-content {padding: 0 30px;}
    .l-specifications {
      padding: 20px 20px 0 20px;
      &-content {flex-wrap: wrap;}
    }
    .l-steps-products {
      padding: 70px 0 40px;
      .steps-products {
        flex-wrap: wrap;
        padding-bottom: 40px;
      }
    }
    .l-arka-advantage {
      padding: 0;
      h2 {margin-bottom: 20px;}
      p {max-width: 80%; margin: 0 auto;}
      &-content {
        gap: 0; flex-wrap: wrap;
        justify-content: center;
      }
    }
    .l-faq-block-content {
      align-items: center;
      flex-direction: column;
      .faq-article {width: auto;}
      .faq-1 {padding: 60px 0 0;}
      .faq-line {display: none;}
      .faq-2 {padding: 60px 0;}
    }
    .l-reviews {
      padding: 0;
      h2 {
        margin-bottom: 40px;
      }
      &-content {
        .companies-reviews {height: auto;}
        
        .companies-reviews, .reviews-section { // Common classes
          flex-direction: column;
          margin-bottom: 20px;
        }

        .reviews-section {
          padding-top: 20px;
          .imgs-block {display: none;}
          .reviews-block {
            width: auto;
            .rbt-content {
              align-items: center;
              padding: 0;
              p {
                font-size: 1.2rem;
                max-width: 80%;
                margin: 0 auto;
              }
              .about-reviewer {flex-direction: column;}
            }
          }
        }
        .js {height: 250px;}
        .ls, .as {height: 220px;} // Height reviews blocks
        
      }
    }
  }
  .l-footer-contacts {
    .contacts-block {
      padding-left: 51px;
    }
    .shopify-app {padding-left: 51px;}
    .email {
      width: 293px; 
      padding-left: 10px;
    }
  }
}
@include media-breakpoint-down(sm) { // 576px
  .l-header .header-menu {
    width: auto;
    .nav ul {
      flex-wrap: wrap;
      height: auto;
      justify-content: center;
      padding: 15px 85px 10px;
      text-align: center;
      width: auto;
      .syd img {
        margin-right: 3px;
      }
    }
  }
  .l-main {
    .l-custom-box-title-content {
      height: auto;
      h1 {
        font-size: 2rem; 
        height: auto;
        line-height: 40px;
        max-inline-size: 350px;
        margin-bottom: 35px;
      }
      p {max-width: 90%; margin-bottom: 25px;}
    }
    .l-specifications {
      padding: 20px 0px 40px 0px;
      &-content {
        align-items: center;
        flex-direction: column;
        gap: 10px;
        .shopify {gap: 0}
        & > div {
          align-items: center;
          flex-direction: column;
          justify-content: center;
        }
        span {padding: 0; max-width: 100%;}
        .shopify span {max-width: 100%;}
        .amazon span {padding-left: 0;}
        .eco div {
          flex-direction: initial;
          height: auto;
          padding: 0; 
          width: auto; 
        }
      }
    }
    .l-customize-products {
      &-catalog .products-column {
        flex-direction: column;
        .product-desc {
          padding: 0;
          p {font-size: 1rem;}
        }
      }
      &-shock-items {
        align-items: center;
        flex-direction: column;
        width: auto;
        height: auto;
        gap: 10px;
        span {font-size: 1.125rem; text-align: center;}
      }
    }
    .l-steps-products-content {
      h2 {max-width: 85%;}
      .steps-products {
        align-items: center;
        flex-direction: column;
      }
    }
    .l-arka-advantage {
      h2 {
        max-width: 50%; 
        margin: 0 auto;
      }
      &-content {
        align-items: center;
        flex-direction: column;
        p {max-width: 95%;}
      }
    }
    .l-faq-block-content .faq-article{
      h2 {max-width: 60%;}
      p {max-width: 65%;}
    }
    .l-reviews {
      h2 {font-size: 1.7rem;}
      &-content {
        .reviews-section .reviews-block .rbt-content {
          gap: 15px;
          p {font-size: 1rem;}
        }
        .js, .ls {height: 240px;}
        .as {height: 230px;}
      }
    }
    .l-start-design {
      padding: 120px 0 136.6px;
      .button-blocks {
        align-items: center;
        flex-direction: column;
      }
    }
  }
  .l-footer-contacts {
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 60px 0 59.69px;
    .custom-design, .about-us, .shopify-app {
      width: auto;
      align-items: center;
      width: 154px;
      text-align: center;
    }
    .contacts-block {
      gap: 25px;
      padding: 0;
      width: auto;
      .contacts-block-title {
        font-size: 1.5rem; 
        font-weight: 700; 
        line-height: 27px;
      }
      .contacts-block-link {font-size: 1.25rem;}
    } 
    .email {
      span {
        font-size: 1.25rem;
        text-align: center;
      }
      form {
        align-items: center;
        input {width: 220px;}
      }
    }
  }
}
@media (max-width: 320px) {
  body {width: 320px;}
}
