// Theme classes
.sw-bg {background-color: #EEEEEE;}
// Header
.l-header {
    background-color: #fff;
    a {color: #011F3A;}
}
// Button color classes
.btn-wt {color: #fff; background-color: #3D5675;} 
.btn-wbg {background-color: #fff; color: #3D5675;}
// Main
.l-main {
    h2 {color: #011F3A;}
    // Main classes
    .l-custom-box-title {background-color: #F2AE4D;} // Background
    .l-specifications {
        background-color: #fff;
        span {color: #A1A1A1;}
    }
    .l-customize-products {
        &-catalog {
            .product-desc .p-name {color:#011F3A;}
            .product {
                p {color: #777777;}
            }
        }
        &-catalog, &-shock-items { // Common class span color
            span {color: #A1A1A1;}
        }
    }
    .l-steps-products-content .steps-products .sp,
    .l-arka-advantage-content .advantage-column-desc { // Common classes span title
        span {color: #011F3A;}
    }

    .l-steps-products-content .steps-products .sp p {
        color: #3D5675;
    }
    .l-arka-advantage-content .advantage-column-desc p {
        color: #A1A1A1;
    }
    .l-faq-block-content {
        background-color: #FFCA3A;
        .faq-article p {
            color: #3D5675;
        }
    } 
    .reviews-section {
        background-color: #FFFFFF; 
        .rbt-content {
            p, .r-name {color: #011F3A;}
            .r-desc {color: #A1A1A1;}
            a {color: #3D5675;}
        }
    }
}
.l-footer {
    &-contacts {
        .contacts-block {
            li, a, span {color: #3D5675;}
            form {color: rgba(61, 86, 117, 0.4);}
            @media (max-width: 575.98px) {
                .contacts-block-title {color: #000;}
            }
        }
        .email form input {
            border: 1px solid #3D5675;
        }
    }
    .l-author {
        address {
            color: #3D5675;
            a {color: #00e1ff;}
        }
        a {color: #F2AE4D;}
    }
}