// Include mixins
@import "lib/breakpoints";
// Theme classes
.sw-bg {
  background: #eeeeee;
}
// Header
.l-header {
  a {
    color: #000;
  }
}
// Buttons

// Main
.l-main {
  a {
    color: #000;
  }
}
.l-footer {
  .l-author {
    a {
      color: #f2ae4d;
    }
  }
}
